/*
 * Forked from Bamboo: https://github.com/rilwis/bamboo (MIT)
 * which was forked from new.css (MIT)
 * Supplemented code from Pico.css: https://github.com/picocss/pico (MIT)
 * Supplemented code from Basic.css: https://github.com/vladocar/Basic.css (MIT)
 * Supplemented code from AttriCSS: https://github.com/raj457036/attriCSS (MIT)
 * Feather Icons: https://github.com/feathericons/feather (MIT)
 * Tabler Icons: https://github.com/tabler/tabler-icons/find/master (MIT)
 *
 * Bamboo, New, Pico: based on Normalize.css & Sanitize.css
 *  Normalize: https://github.com/necolas/normalize.css (MIT)
 *  Sanitize: https://github.com/csstools/sanitize.css (CC0 1.0 Universal)
 */

// Config
@import "variables";

// Includes - Sorted by importance/category (includes at top are needed most frequently)
@import "include/document"; // html
@import "include/typography"; // a, headings, p, ul, blockquote, ...
@import "include/sectioning"; // body, header, main, footer
@import "include/nav"; // Nav

@import "include/embedded"; // iframe(youtube/vimeo), audio, canvas, img, svg, video
@import "include/table"; // table, tr, td, ...
@import "include/code"; // pre, code, ...
@import "include/hr"; // hr

@import "include/scroller"; // figure
@import "include/button"; // button, a[role=button], type=button, type=submit ...
@import "include/form"; // input, select, textarea, label, fieldset, legend (If you import this, you should also import button)
@import "include/top"; // back to top button using only CSS

@import "include/search"; // Zola Search - elasticlunr site-wide search
@import "include/toc"; // Zola TOC - Table of Content Menu (recent posts & index), sticky (floats top right)

@import "include/icons"; // svg icons

@import "include/zola"; // Zola spacing and layout classes

//@import "include/grid"; // section infinite grid -- test/rework this similar to hnav and milligram in that it should collapse to a single column as the page becomes narrow
//@import "include/misc"; // template, [hidden], dialog, canvas
