//@import "fonts/Abridge";
//@import "fonts/Roboto";
//@import "fonts/Arimo";
//@import "fonts/Lato";
//@import "fonts/FiraCode"; // Monospaced
@import "imports";
@import "syntax/syntax-abridge-dark";

:root {
  --f1: #ccc;// Font Color Primary
  --f2: #ddd;// Font color Headers
  --c1: #111;// Background Color Primary
  --c2: #222;// Background Color Secondary
  --c3: #333;// Table Rows, Block quote edge, Borders
  --c4: #888;// Disabled Buttons, Borders, mark background
  --a1: #f90;// link color
  --a2: #fb0;// link hover/focus color
  --a3: #f90;// link h1-h2 hover/focus color
  --cg: #593; // ins green, success
  --cr: #e33; // del red, errors
}
