//@import "fonts/Abridge";
//@import "fonts/Roboto";
//@import "fonts/Arimo";
//@import "fonts/Lato";
//@import "fonts/FiraCode"; // Monospaced
@import "imports";
@import "syntax/syntax-abridge-light";

:root {
  --f1: #444;// Font Color Primary
  --f2: #333;// Font color Headers
  --c1: #fff;// Background Color Primary
  --c2: #def;// Background Color Secondary
  --c3: #137;// Table Rows, Block quote edge, Borders
  --c4: #013;// Disabled Buttons, Borders, mark background
  --a1: #06e;// link color
  --a2: #09f;// link hover/focus color
  --a3: #07f;// link h1-h2 hover/focus color
  --cg: #373; // ins green, success
  --cr: #d33; // del red, errors
}
