{%- extends "base.html" -%}
{%- block seo -%}
  {{- super() -}}
  {%- set title = term.name ~ " tag" -%}
  {%- if config.title -%}
    {%- set title_addition = title_separator ~ config.title -%}
  {%- else -%}
    {%- set title_addition = "" -%}
  {%- endif -%}
  {%- set description %}{{<translate key="seo_tag" default="Articles tagged “$TERM” on $SITE." i18n={i18n} />}}{% endset -%}
  {%- set description = description | replace(from="$TERM", to=term.name) | replace(from="$SITE", to=config.title or "this site") -%}
  {{<seo config={config}  title={title}  title_addition={title_addition}  description={description or ""}  page_url={current_url}  taxonomy_kind={taxonomy.name}  current_lang={lang}  taxonomy_term={term.name}  taxonomy_current_permalink={term.permalink}  paginator_index={paginator.current_index if paginator else 1} />}}
{%- endblock seo -%}
{%- block content %}
    {%- set uglyurls = (config.extra.uglyurls or false) -%}
    {%- if config.extra.search_library -%}{%- if (config.extra.search_library == "offline" or config.extra.search_library == "offlineflexsearch") -%}{%- set uglyurls = true -%}{%- endif -%}{%- endif -%}
    <div>
      <h1>{{ term.name }}</h1>
      {%- set grouped = term.pages | group_by(attribute="year") -%}
      {%- set years = grouped | keys | sort | reverse -%}
      {%- for year in years %}
      {%- set posts = grouped[year] -%}
      <h2 class="tpad">{{ year }}</h2>
      {%- for page in posts %}
      <p><a href="{{ page.permalink | safe }}{%- if uglyurls %}index.html{%- endif %}">{{ page.title }}</a> - <time datetime="{{ page.date }}">{{ page.date | date(format="%F") }}</time></p>
      {%- endfor %}
      {%- endfor %}
    </div>
{%- endblock content %}
