@font-face {
  font-family: 'Abridge';
  src: url('font/Abridge.woff2') format('woff2');
}

[class^="i-"]:before, [class*=" i-"]:before {
  font-family: "Abridge";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;// reset parent styles that can break glyph codes
  text-transform: none;// reset parent styles that can break glyph codes
  line-height: 1em;// fix buttons height
  width: 1em;// fix buttons width
  vertical-align: 1em;// fix buttons alignment
  text-align: center;
  display: inline-block;
  //text-decoration: inherit;
}

.i-search:before { content: '\f002'; } // search box button
.i-adjust:before { content: '\f042'; } // theme switcher button
.i-first:before { content: '\f100'; } // pagination first page
.i-last:before { content: '\f101'; } // pagination last page
.i-prev:before { content: '\f104'; } // pagination previous page
.i-next:before { content: '\f105'; } // pagination next page
.i-up:before { content: '\f106'; } // back to top button