@font-face {
    font-family: 'Arimo';
    src: local("Arimo"), url("font/Arimo.woff2");//latin regular
    font-display: swap;
}
@font-face {
    font-family: 'Arimo';
    src: local("Arimo-Italic"), url("font/Arimo-Italic.woff2");//latin italic
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Arimo';
    src: local("Arimo-Bold"), url("font/Arimo-Bold.woff2");//latin bold
    font-weight: bold;
    font-display: swap;
}
