@font-face {
    font-family: 'Bitter';
    src: local("Bitter"), url("/font/Bitter.woff2");//latin regular
    font-display: swap;
}
@font-face {
    font-family: 'Bitter';
    src: local("Bitter-Italic"), url("/font/Bitter-Italic.woff2");//latin italic
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Bitter';
    src: local("Bitter-Bold"), url("/font/Bitter-Bold.woff2");//latin bold
    font-weight: bold;
    font-display: swap;
}
