@font-face {
    font-family: 'DroidSans';
    src: local("DroidSans"), url("/font/DroidSans.woff2");//latin regular
    font-display: swap;
}
@font-face {
    font-family: 'DroidSans';
    src: local("DroidSans-Bold"), url("/font/DroidSans-Bold.woff2");//latin bold
    font-weight: bold;
    font-display: swap;
}
