@font-face {
    font-family: 'Lato';
    src: local("Lato"), url("font/Lato.woff2");//latin regular
    font-display: swap;
}
@font-face {
    font-family: 'Lato';
    src: local("Lato-Italic"), url("font/Lato-Italic.woff2");//latin italic
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Lato';
    src: local("Lato-Bold"), url("font/Lato-Bold.woff2");//latin bold
    font-weight: bold;
    font-display: swap;
}
