@font-face {
    font-family: 'Montserrat';
    src: local("Montserrat"), url("/font/Montserrat.woff2");//latin regular
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: local("Montserrat-Italic"), url("/font/Montserrat-Italic.woff2");//latin italic
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: local("Montserrat-Bold"), url("/font/Montserrat-Bold.woff2");//latin bold
    font-weight: bold;
    font-display: swap;
}
