@font-face {
    font-family: 'OpenSans';
    src: local("OpenSans"), url("/font/OpenSans.woff2");//latin regular
    font-display: swap;
}
@font-face {
    font-family: 'OpenSans';
    src: local("OpenSans-Italic"), url("/font/OpenSans-Italic.woff2");//latin italic
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'OpenSans';
    src: local("OpenSans-Bold"), url("/font/OpenSans-Bold.woff2");//latin bold
    font-weight: bold;
    font-display: swap;
}
