@font-face {
    font-family: 'Roboto';
    src: local("Roboto"), url("font/Roboto.woff2");//latin regular
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: local("Roboto-Italic"), url("font/Roboto-Italic.woff2");//latin italic
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: local("Roboto-Bold"), url("font/Roboto-Bold.woff2");//latin bold
    font-weight: bold;
    font-display: swap;
}
