@font-face {
    font-family: 'RobotoCondensed';
    src: local("RobotoCondensed"), url("/font/RobotoCondensed.woff2");//latin regular
    font-display: swap;
}
@font-face {
    font-family: 'RobotoCondensed';
    src: local("RobotoCondensed"), url("/font/RobotoCondensed-italic.woff2");//latin italic
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'RobotoCondensed';
    src: local("RobotoCondensed"), url("/font/RobotoCondensed-Bold.woff2");//latin bold
    font-weight: bold;
    font-display: swap;
}
