@font-face {
    font-family: 'SourceSansPro';
    src: local("SourceSansPro"), url("/font/SourceSansPro.woff2");//latin regular
    font-display: swap;
}
@font-face {
    font-family: 'SourceSansPro';
    src: local("SourceSansPro"), url("/font/SourceSansPro-italic.woff2");//latin italic
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'SourceSansPro';
    src: local("SourceSansPro"), url("/font/SourceSansPro-Bold.woff2");//latin bold
    font-weight: bold;
    font-display: swap;
}
