// Syntax Highlighting
@mixin dark {
  --bg: #191919;//background color
  --h1: #e65;// red, support function
  --h2: #f91;// orange, punctuation, constant, variable, json-key
  --h3: #eb6;// tan, entity/function name
  --h4: #ac3;// green, string
  --h5: #8db;// teal, escape character
  --h6: #6ae;// blue, declaration, tag, property
  --h7: #d6e;// purple, operators
}
@mixin light {
  --bg: #f7f7f7;//background color
  --h1: #a21;// red, support function
  --h2: #930;// orange, punctuation, constant, variable, json-key
  --h3: #a50;// tan, entity/function name
  --h4: #350;// green, string
  --h5: #286;// teal, escape character
  --h6: #059;// blue, declaration, tag, property
  --h7: #a3c;// purple, operators
}
