.z-code {
 color: #61676c;
 background-color: #ffffff;
}
.z-comment, .z-punctuation.z-definition.z-comment {
 color: #6e7379;
 font-style: italic;
}
.z-variable {
 color: #61676c;
}
.z-string, .z-constant.z-other.z-symbol {
 color: #507e00;
}
.z-constant.z-numeric {
 color: #b85500;
}
.z-string.z-regexp, .z-constant.z-character.z-escape {
 color: #008260;
}
.z-constant.z-language {
 color: #b85500;
}
.z-constant.z-character, .z-constant.z-other {
 color: #b85500;
}
.z-variable.z-member {
 color: #cb414d;
}
.z-keyword, .z-keyword.z-operator.z-word {
 color: #c94506;
}
.z-keyword.z-operator {
 color: #ac5c32;
}
.z-punctuation.z-separator, .z-punctuation.z-terminator {
 color: #61676c;
}
.z-punctuation.z-section {
 color: #61676c;
}
.z-punctuation.z-accessor {
 color: #ac5c32;
}
.z-punctuation.z-definition.z-annotation {
 color: #61676c;
}
.z-variable.z-other.z-dollar.z-only.z-js, .z-variable.z-other.z-object.z-dollar.z-only.z-js, .z-variable.z-type.z-dollar.z-only.z-js, .z-support.z-class.z-dollar.z-only.z-js {
 color: #936b2c;
}
.z-storage {
 color: #c94506;
}
.z-storage.z-type {
 color: #c94506;
}
.z-entity.z-name.z-function {
 color: #ac5d00;
}
.z-entity.z-name, .z-entity.z-name.z-tag, .z-entity.z-name.z-label {
 color: #0079bd;
}
.z-entity.z-other.z-inherited-class {
 color: #0079bd;
 text-decoration: underline;
}
.z-variable.z-parameter {
 color: #b85500;
}
.z-variable.z-language {
 color: #007d9b;
 font-style: italic;
}
.z-entity.z-name.z-tag, .z-meta.z-tag.z-sgml {
 color: #007d9b;
}
.z-punctuation.z-definition.z-tag.z-end, .z-punctuation.z-definition.z-tag.z-begin, .z-punctuation.z-definition.z-tag {
 color: #007d9b;
}
.z-entity.z-other.z-attribute-name {
 color: #ac5d00;
}
.z-variable.z-function, .z-variable.z-annotation {
 color: #ac5d00;
}
.z-support.z-function, .z-support.z-macro {
 color: #c44a4e;
}
.z-support.z-constant {
 color: #ac5c32;
 font-style: italic;
}
.z-support.z-type, .z-support.z-class {
 color: #007d9b;
 font-style: italic;
}
.z-invalid {
 color: #e6000b;
}
.z-invalid.z-deprecated {
 color: #ffffff;
 background-color: #c94506;
}
.z-source.z-ruby .z-variable.z-other.z-readwrite {
 color: #ac5d00;
}
.z-source.z-css .z-entity.z-name.z-tag, .z-source.z-sass .z-entity.z-name.z-tag, .z-source.z-scss .z-entity.z-name.z-tag, .z-source.z-less .z-entity.z-name.z-tag, .z-source.z-stylus .z-entity.z-name.z-tag {
 color: #0079bd;
}
.z-source.z-css .z-support.z-type, .z-source.z-sass .z-support.z-type, .z-source.z-scss .z-support.z-type, .z-source.z-less .z-support.z-type, .z-source.z-stylus .z-support.z-type {
 color: #6e7379;
}
.z-support.z-type.z-property-name {
 color: #007d9b;
}
.z-constant.z-numeric.z-line-number.z-find-in-files {
 color: #6e7379;
}
.z-constant.z-numeric.z-line-number.z-match {
 color: #c94506;
}
.z-entity.z-name.z-filename.z-find-in-files {
 color: #507e00;
}
.z-message.z-error {
 color: #e6000b;
}
.z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
 color: #007d9b;
}
.z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
 color: #007d9b;
}
.z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
 color: #007d9b;
}
.z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
 color: #007d9b;
}
.z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
 color: #007d9b;
}
.z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
 color: #007d9b;
}
.z-source.z-json .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
 color: #007d9b;
}
.z-source.z-json .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
 color: #007d9b;
}
.z-source.z-json .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
 color: #007d9b;
}
.z-markup.z-heading {
 color: #c94506;
font-weight: bold;
}
.z-string.z-other.z-link, .z-markup.z-underline.z-link {
 color: #008260;
 text-decoration: underline;
 font-style: italic;
}
.z-punctuation.z-definition.z-image {
 color: #ac5d00;
}
.z-markup.z-italic {
 color: #c44a4e;
 font-style: italic;
}
.z-markup.z-bold {
 color: #c44a4e;
font-weight: bold;
}
.z-markup.z-italic .z-markup.z-bold, .z-markup.z-bold .z-markup.z-italic {
font-weight: bold;
 font-style: italic;
}
.z-markup.z-raw {
 background-color: #61676c;
}
.z-markup.z-raw.z-inline {
 background-color: #61676c;
}
.z-meta.z-separator {
 color: #6e7379;
 background-color: #61676c;
font-weight: bold;
}
.z-markup.z-quote {
 color: #b85500;
 font-style: italic;
}
.z-markup.z-list.z-numbered.z-bullet, .z-markup.z-list .z-punctuation.z-definition.z-list_item {
 color: #008260;
}
.z-markup.z-inserted {
 color: #507e00;
}
.z-markup.z-changed {
 color: #007d9b;
}
.z-markup.z-deleted {
 color: #c44a4e;
}
.z-markup.z-strike {
 color: #936b2c;
}
.z-markup.z-table {
 color: #007d9b;
 background-color: #61676c;
}
.z-text.z-html.z-markdown .z-markup.z-raw.z-inline {
 color: #ac5c32;
}
.z-text.z-html.z-markdown .z-meta.z-dummy.z-line-break {
 color: #6e7379;
}
.z-markup.z-raw.z-block.z-fenced.z-markdown {
 color: #61676c;
 background-color: #61676c;
}
.z-punctuation.z-definition.z-fenced.z-markdown, .z-variable.z-language.z-fenced.z-markdown {
 color: #6e7379;
 background-color: #61676c;
}
.z-variable.z-language.z-fenced.z-markdown {
 color: #6e7379;
}
.z-markup.z-inserted.z-git_gutter {
 color: #507e00;
}
.z-markup.z-changed.z-git_gutter {
 color: #007d9b;
}
.z-markup.z-deleted.z-git_gutter {
 color: #e6000b;
}
.z-markup.z-ignored.z-git_gutter {
 color: #dee0e1;
}
.z-markup.z-untracked.z-git_gutter {
 color: #dee0e1;
}
.z-gutter_color {
 color: #ffffff;
}
.z-acejump.z-label.z-blue {
 color: #ffffff;
 background-color: #007d9b;
}
.z-acejump.z-label.z-green {
 color: #ffffff;
 background-color: #507e00;
}
.z-acejump.z-label.z-orange {
 color: #ffffff;
 background-color: #c94506;
}
.z-acejump.z-label.z-purple {
 color: #ffffff;
 background-color: #c44a4e;
}
.z-sublimelinter.z-mark.z-warning {
 color: #007d9b;
}
.z-sublimelinter.z-gutter-mark {
 color: #ffffff;
}
.z-sublimelinter.z-mark.z-error {
 color: #e6000b;
}
