:root:not(.light) {
    .z-code {
    color: #eeffff;
    background-color: #191919;
    }
    .z-comment, .z-punctuation.z-definition.z-comment {
    color: #818181;
    font-style: italic;
    }
    .z-variable, .z-string .z-constant.z-other.z-placeholder {
    color: #eeffff;
    }
    .z-constant.z-other.z-color {
    color: #ffffff;
    }
    .z-invalid, .z-invalid.z-illegal, .z-invalid.z-broken {
    color: #ffffff;
    background-color: #ff7992;
    }
    .z-invalid.z-unimplemented {
    color: #ffffff;
    background-color: #c3e88d;
    }
    .z-invalid.z-deprecated {
    color: #ffffff;
    background-color: #c792ea;
    }
    .z-keyword, .z-storage.z-type, .z-storage.z-modifier {
    color: #c792ea;
    }
    .z-storage.z-type, .z-keyword.z-control {
    font-style: italic;
    }
    .z-keyword.z-operator, .z-constant.z-other.z-color, .z-punctuation, .z-meta.z-tag, .z-punctuation.z-definition.z-tag, .z-punctuation.z-separator.z-inheritance.z-php, .z-punctuation.z-definition.z-tag.z-html, .z-punctuation.z-definition.z-tag.z-begin.z-html, .z-punctuation.z-definition.z-tag.z-end.z-html, .z-punctuation.z-section.z-embedded, .z-keyword.z-other.z-template, .z-keyword.z-other.z-substitution {
    color: #89ddff;
    }
    .z-entity.z-name.z-tag, .z-meta.z-tag.z-sgml, .z-markup.z-deleted.z-git_gutter {
    color: #fe7d83;
    }
    .z-entity.z-name.z-function, .z-meta.z-function-call, .z-variable.z-function, .z-support.z-function, .z-keyword.z-other.z-special-method, .z-meta.z-block-level {
    color: #82aaff;
    }
    .z-support.z-other.z-variable, .z-string.z-other.z-link {
    color: #fe7d83;
    }
    .z-constant.z-numeric, .z-constant.z-language, .z-support.z-constant, .z-constant.z-character, .z-variable.z-parameter, .z-keyword.z-other.z-unit {
    color: #f78c6c;
    }
    .z-string, .z-constant.z-other.z-symbol, .z-constant.z-other.z-key, .z-entity.z-other.z-inherited-class, .z-markup.z-heading, .z-markup.z-inserted.z-git_gutter, .z-meta.z-group.z-braces.z-curly .z-constant.z-other.z-object.z-key.z-js .z-string.z-unquoted.z-label.z-js {
    color: #c3e88d;
    }
    .z-entity.z-name.z-class, .z-entity.z-name.z-type.z-class, .z-support.z-type, .z-support.z-class, .z-support.z-orther.z-namespace.z-use.z-php, .z-meta.z-use.z-php, .z-support.z-other.z-namespace.z-php, .z-markup.z-changed.z-git_gutter, .z-support.z-type.z-sys-types {
    color: #ffcb6b;
    }
    .z-source.z-css .z-support.z-type, .z-source.z-sass .z-support.z-type, .z-source.z-scss .z-support.z-type, .z-source.z-less .z-support.z-type, .z-source.z-stylus .z-support.z-type {
    color: #b2ccd6;
    }
    .z-entity.z-name.z-module.z-js, .z-variable.z-import.z-parameter.z-js, .z-variable.z-other.z-class.z-js {
    color: #ff7992;
    }
    .z-variable.z-language {
    color: #ff7992;
    font-style: italic;
    }
    .z-entity.z-name.z-method.z-js {
    color: #82aaff;
    }
    .z-meta.z-class-method.z-js .z-entity.z-name.z-function.z-js, .z-variable.z-function.z-constructor {
    color: #82aaff;
    }
    .z-entity.z-other.z-attribute-name {
    color: #c792ea;
    }
    .z-text.z-html.z-basic .z-entity.z-other.z-attribute-name.z-html, .z-text.z-html.z-basic .z-entity.z-other.z-attribute-name {
    color: #ffcb6b;
    font-style: italic;
    }
    .z-entity.z-other.z-attribute-name.z-class {
    color: #ffcb6b;
    }
    .z-source.z-sass .z-keyword.z-control {
    color: #82aaff;
    }
    .z-markup.z-inserted {
    color: #c3e88d;
    }
    .z-markup.z-deleted {
    color: #ff7992;
    }
    .z-markup.z-changed {
    color: #c792ea;
    }
    .z-string.z-regexp {
    color: #89ddff;
    }
    .z-constant.z-character.z-escape {
    color: #89ddff;
    }
    .z-*url*, .z-*link*, .z-*uri* {
    text-decoration: underline;
    }
    .z-constant.z-numeric.z-line-number.z-find-in-files {
    color: #d89385;
    }
    .z-entity.z-name.z-filename.z-find-in-files {
    color: #c3e88d;
    }
    .z-tag.z-decorator.z-js .z-entity.z-name.z-tag.z-js, .z-tag.z-decorator.z-js .z-punctuation.z-definition.z-tag.z-js {
    color: #82aaff;
    font-style: italic;
    }
    .z-source.z-js .z-constant.z-other.z-object.z-key.z-js .z-string.z-unquoted.z-label.z-js {
    color: #ff7992;
    font-style: italic;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #c3e88d;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #c792ea;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #fe7d83;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #82aaff;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #d89385;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #ff7992;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #f78c6c;
    }
    .z-source.z-json .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #ffcb6b;
    }
    .z-source.z-json .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #c792ea;
    }
    .z-text.z-html.z-markdown, .z-punctuation.z-definition.z-list_item.z-markdown {
    color: #eeffff;
    }
    .z-text.z-html.z-markdown .z-markup.z-raw.z-inline {
    color: #c792ea;
    }
    .z-text.z-html.z-markdown .z-punctuation.z-definition.z-raw.z-markdown {
    color: #65737e;
    }
    .z-markdown.z-heading, .z-markup.z-heading, .z-markup.z-heading .z-entity.z-name, .z-markup.z-heading.z-markdown .z-punctuation.z-definition.z-heading.z-markdown {
    color: #c3e88d;
    }
    .z-markup.z-italic {
    color: #fe7d83;
    font-style: italic;
    }
    .z-markup.z-bold, .z-markup.z-bold .z-string {
    color: #fe7d83;
    font-weight: bold;
    }
    .z-markup.z-bold .z-markup.z-italic, .z-markup.z-italic .z-markup.z-bold, .z-markup.z-quote .z-markup.z-bold, .z-markup.z-bold .z-markup.z-italic .z-string, .z-markup.z-italic .z-markup.z-bold .z-string, .z-markup.z-quote .z-markup.z-bold .z-string {
    font-weight: bold;
    font-style: italic;
    }
    .z-markup.z-underline {
    color: #f78c6c;
    text-decoration: underline;
    }
    .z-markup.z-quote .z-punctuation.z-definition.z-blockquote.z-markdown {
    color: #65737e;
    background-color: #65737e;
    }
    .z-string.z-other.z-link.z-title.z-markdown {
    color: #82aaff;
    }
    .z-string.z-other.z-link.z-description.z-title.z-markdown {
    color: #c792ea;
    }
    .z-constant.z-other.z-reference.z-link.z-markdown {
    color: #ffcb6b;
    }
    .z-markup.z-raw.z-block {
    color: #c792ea;
    }
    .z-markup.z-raw.z-block.z-fenced.z-markdown {
    background-color: #000000;
    }
    .z-punctuation.z-definition.z-fenced.z-markdown {
    background-color: #000000;
    }
    .z-markup.z-raw.z-block.z-fenced.z-markdown, .z-variable.z-language.z-fenced.z-markdown, .z-punctuation.z-section.z-class.z-end {
    color: #eeffff;
    }
    .z-variable.z-language.z-fenced.z-markdown {
    color: #65737e;
    }
    .z-text.z-html.z-markdown .z-punctuation.z-definition {
    color: #818181;
    }
    .z-text.z-html.z-markdown .z-meta.z-disable-markdown .z-punctuation.z-definition {
    color: #89ddff;
    }
    .z-meta.z-separator {
    color: #65737e;
    background-color: #000000;
    font-weight: bold;
    }
    .z-acejump.z-label.z-blue {
    color: #ffffff;
    background-color: #82aaff;
    }
    .z-acejump.z-label.z-green {
    color: #ffffff;
    background-color: #c3e88d;
    }
    .z-acejump.z-label.z-orange {
    color: #ffffff;
    background-color: #f78c6c;
    }
    .z-acejump.z-label.z-purple {
    color: #ffffff;
    background-color: #c792ea;
    }
    .z-sublimelinter.z-mark.z-warning {
    color: #ffcb6b;
    }
    .z-sublimelinter.z-gutter-mark {
    color: #ffffff;
    }
    .z-sublimelinter.z-mark.z-error {
    color: #ff7992;
    }
    .z-sublimelinter.z-annotations {
    background-color: #d89385;
    }
    .z-markup.z-ignored.z-git_gutter {
    color: #65737e;
    }
    .z-markup.z-untracked.z-git_gutter {
    color: #65737e;
    }
    .z-markup.z-inserted.z-git_gutter {
    color: #c3e88d;
    }
    .z-markup.z-changed.z-git_gutter {
    color: #ffcb6b;
    }
    .z-markup.z-deleted.z-git_gutter {
    color: #ff7992;
    }
    .z-brackethighlighter.z-default {
    color: #b2ccd6;
    }
    .z-brackethighlighter.z-quote {
    color: #c3e88d;
    }
    .z-brackethighlighter.z-unmatched {
    color: #ff7992;
    }
}
:root.light {
    .z-code {
    color: #317e78;
    background-color: #ffffff;
    }
    .z-comment, .z-punctuation.z-definition.z-comment {
    color: #6b7577;
    font-style: italic;
    }
    .z-variable, .z-string .z-constant.z-other.z-placeholder {
    color: #317e78;
    }
    .z-constant.z-other.z-color {
    color: #ffffff;
    }
    .z-invalid, .z-invalid.z-illegal, .z-invalid.z-broken {
    color: #ffffff;
    background-color: #d92d2d;
    }
    .z-invalid.z-unimplemented {
    color: #ffffff;
    background-color: #587f22;
    }
    .z-invalid.z-deprecated {
    color: #ffffff;
    background-color: #7c4dff;
    }
    .z-keyword, .z-storage.z-type, .z-storage.z-modifier {
    color: #7c4dff;
    }
    .z-storage.z-type, .z-keyword.z-control {
    font-style: italic;
    }
    .z-keyword.z-operator, .z-constant.z-other.z-color, .z-punctuation, .z-meta.z-tag, .z-punctuation.z-definition.z-tag, .z-punctuation.z-separator.z-inheritance.z-php, .z-punctuation.z-definition.z-tag.z-html, .z-punctuation.z-definition.z-tag.z-begin.z-html, .z-punctuation.z-definition.z-tag.z-end.z-html, .z-punctuation.z-section.z-embedded, .z-keyword.z-other.z-template, .z-keyword.z-other.z-substitution {
    color: #008088;
    }
    .z-entity.z-name.z-tag, .z-meta.z-tag.z-sgml, .z-markup.z-deleted.z-git_gutter {
    color: #d72952;
    }
    .z-entity.z-name.z-function, .z-meta.z-function-call, .z-variable.z-function, .z-support.z-function, .z-keyword.z-other.z-special-method, .z-meta.z-block-level {
    color: #5274a9;
    }
    .z-support.z-other.z-variable, .z-string.z-other.z-link {
    color: #d72952;
    }
    .z-constant.z-numeric, .z-constant.z-language, .z-support.z-constant, .z-constant.z-character, .z-variable.z-parameter, .z-keyword.z-other.z-unit {
    color: #c94625;
    }
    .z-string, .z-constant.z-other.z-symbol, .z-constant.z-other.z-key, .z-entity.z-other.z-inherited-class, .z-markup.z-heading, .z-markup.z-inserted.z-git_gutter, .z-meta.z-group.z-braces.z-curly .z-constant.z-other.z-object.z-key.z-js .z-string.z-unquoted.z-label.z-js {
    color: #587f22;
    }
    .z-entity.z-name.z-class, .z-entity.z-name.z-type.z-class, .z-support.z-type, .z-support.z-class, .z-support.z-orther.z-namespace.z-use.z-php, .z-meta.z-use.z-php, .z-support.z-other.z-namespace.z-php, .z-markup.z-changed.z-git_gutter, .z-support.z-type.z-sys-types {
    color: #a16700;
    }
    .z-source.z-css .z-support.z-type, .z-source.z-sass .z-support.z-type, .z-source.z-scss .z-support.z-type, .z-source.z-less .z-support.z-type, .z-source.z-stylus .z-support.z-type {
    color: #64738c;
    }
    .z-entity.z-name.z-module.z-js, .z-variable.z-import.z-parameter.z-js, .z-variable.z-other.z-class.z-js {
    color: #d92d2d;
    }
    .z-variable.z-language {
    color: #d92d2d;
    font-style: italic;
    }
    .z-entity.z-name.z-method.z-js {
    color: #5274a9;
    }
    .z-meta.z-class-method.z-js .z-entity.z-name.z-function.z-js, .z-variable.z-function.z-constructor {
    color: #5274a9;
    }
    .z-entity.z-other.z-attribute-name {
    color: #7c4dff;
    }
    .z-text.z-html.z-basic .z-entity.z-other.z-attribute-name.z-html, .z-text.z-html.z-basic .z-entity.z-other.z-attribute-name {
    color: #a16700;
    font-style: italic;
    }
    .z-entity.z-other.z-attribute-name.z-class {
    color: #a16700;
    }
    .z-source.z-sass .z-keyword.z-control {
    color: #5274a9;
    }
    .z-markup.z-inserted {
    color: #587f22;
    }
    .z-markup.z-deleted {
    color: #d92d2d;
    }
    .z-markup.z-changed {
    color: #7c4dff;
    }
    .z-string.z-regexp {
    color: #008088;
    }
    .z-constant.z-character.z-escape {
    color: #008088;
    }
    .z-*url*, .z-*link*, .z-*uri* {
    text-decoration: underline;
    }
    .z-constant.z-numeric.z-line-number.z-find-in-files {
    color: #a26356;
    }
    .z-entity.z-name.z-filename.z-find-in-files {
    color: #587f22;
    }
    .z-tag.z-decorator.z-js .z-entity.z-name.z-tag.z-js, .z-tag.z-decorator.z-js .z-punctuation.z-definition.z-tag.z-js {
    color: #5274a9;
    font-style: italic;
    }
    .z-source.z-js .z-constant.z-other.z-object.z-key.z-js .z-string.z-unquoted.z-label.z-js {
    color: #d92d2d;
    font-style: italic;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #587f22;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #7c4dff;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #d72952;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #5274a9;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #a26356;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #d92d2d;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #c94625;
    }
    .z-source.z-json .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #a16700;
    }
    .z-source.z-json .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #7c4dff;
    }
    .z-text.z-html.z-markdown, .z-punctuation.z-definition.z-list_item.z-markdown {
    color: #317e78;
    }
    .z-text.z-html.z-markdown .z-markup.z-raw.z-inline {
    color: #7c4dff;
    }
    .z-text.z-html.z-markdown .z-punctuation.z-definition.z-raw.z-markdown {
    color: #717375;
    }
    .z-markdown.z-heading, .z-markup.z-heading, .z-markup.z-heading .z-entity.z-name, .z-markup.z-heading.z-markdown .z-punctuation.z-definition.z-heading.z-markdown {
    color: #587f22;
    }
    .z-markup.z-italic {
    color: #d72952;
    font-style: italic;
    }
    .z-markup.z-bold, .z-markup.z-bold .z-string {
    color: #d72952;
    font-weight: bold;
    }
    .z-markup.z-bold .z-markup.z-italic, .z-markup.z-italic .z-markup.z-bold, .z-markup.z-quote .z-markup.z-bold, .z-markup.z-bold .z-markup.z-italic .z-string, .z-markup.z-italic .z-markup.z-bold .z-string, .z-markup.z-quote .z-markup.z-bold .z-string {
    font-weight: bold;
    font-style: italic;
    }
    .z-markup.z-underline {
    color: #c94625;
    text-decoration: underline;
    }
    .z-markup.z-quote .z-punctuation.z-definition.z-blockquote.z-markdown {
    color: #717375;
    background-color: #717375;
    }
    .z-string.z-other.z-link.z-title.z-markdown {
    color: #5274a9;
    }
    .z-string.z-other.z-link.z-description.z-title.z-markdown {
    color: #7c4dff;
    }
    .z-constant.z-other.z-reference.z-link.z-markdown {
    color: #a16700;
    }
    .z-markup.z-raw.z-block {
    color: #7c4dff;
    }
    .z-markup.z-raw.z-block.z-fenced.z-markdown {
    background-color: #62757f;
    }
    .z-punctuation.z-definition.z-fenced.z-markdown {
    background-color: #62757f;
    }
    .z-markup.z-raw.z-block.z-fenced.z-markdown, .z-variable.z-language.z-fenced.z-markdown, .z-punctuation.z-section.z-class.z-end {
    color: #317e78;
    }
    .z-variable.z-language.z-fenced.z-markdown {
    color: #717375;
    }
    .z-text.z-html.z-markdown .z-punctuation.z-definition {
    color: #6b7577;
    }
    .z-text.z-html.z-markdown .z-meta.z-disable-markdown .z-punctuation.z-definition {
    color: #008088;
    }
    .z-meta.z-separator {
    color: #717375;
    background-color: #62757f;
    font-weight: bold;
    }
    .z-acejump.z-label.z-blue {
    color: #ffffff;
    background-color: #5274a9;
    }
    .z-acejump.z-label.z-green {
    color: #ffffff;
    background-color: #587f22;
    }
    .z-acejump.z-label.z-orange {
    color: #ffffff;
    background-color: #c94625;
    }
    .z-acejump.z-label.z-purple {
    color: #ffffff;
    background-color: #7c4dff;
    }
    .z-sublimelinter.z-mark.z-warning {
    color: #a16700;
    }
    .z-sublimelinter.z-gutter-mark {
    color: #ffffff;
    }
    .z-sublimelinter.z-mark.z-error {
    color: #d92d2d;
    }
    .z-sublimelinter.z-annotations {
    background-color: #a26356;
    }
    .z-markup.z-ignored.z-git_gutter {
    color: #717375;
    }
    .z-markup.z-untracked.z-git_gutter {
    color: #717375;
    }
    .z-markup.z-inserted.z-git_gutter {
    color: #587f22;
    }
    .z-markup.z-changed.z-git_gutter {
    color: #a16700;
    }
    .z-markup.z-deleted.z-git_gutter {
    color: #d92d2d;
    }
    .z-brackethighlighter.z-default {
    color: #64738c;
    }
    .z-brackethighlighter.z-quote {
    color: #587f22;
    }
    .z-brackethighlighter.z-unmatched {
    color: #d92d2d;
    }
}