@mixin dark {
    .z-code {
    color: #bfbab0;
    background-color: #191919;
    }
    .z-comment, .z-punctuation.z-definition.z-comment {
    color: #87929f;
    font-style: italic;
    }
    .z-variable {
    color: #bfbab0;
    }
    .z-string, .z-constant.z-other.z-symbol {
    color: #c2d94c;
    }
    .z-constant.z-numeric {
    color: #f29718;
    }
    .z-string.z-regexp, .z-constant.z-character.z-escape {
    color: #95e6cb;
    }
    .z-constant.z-language {
    color: #f29718;
    }
    .z-constant.z-character, .z-constant.z-other {
    color: #f29718;
    }
    .z-variable.z-member {
    color: #fe7d83;
    }
    .z-keyword, .z-keyword.z-operator.z-word {
    color: #00bbff;
    }
    .z-keyword.z-operator {
    color: #f29668;
    }
    .z-punctuation.z-separator, .z-punctuation.z-terminator {
    color: #bfbab0;
    }
    .z-punctuation.z-section {
    color: #bfbab0;
    }
    .z-punctuation.z-accessor {
    color: #f29668;
    }
    .z-punctuation.z-definition.z-annotation {
    color: #bfbab0;
    }
    .z-variable.z-other.z-dollar.z-only.z-js, .z-variable.z-other.z-object.z-dollar.z-only.z-js, .z-variable.z-type.z-dollar.z-only.z-js, .z-support.z-class.z-dollar.z-only.z-js {
    color: #e6b673;
    }
    .z-storage {
    color: #00bbff;
    }
    .z-storage.z-type {
    color: #00bbff;
    }
    .z-entity.z-name.z-function {
    color: #ffb454;
    }
    .z-entity.z-name, .z-entity.z-name.z-tag, .z-entity.z-name.z-label {
    color: #59c2ff;
    }
    .z-entity.z-other.z-inherited-class {
    color: #59c2ff;
    text-decoration: underline;
    }
    .z-variable.z-parameter {
    color: #f29718;
    }
    .z-variable.z-language {
    color: #39bae6;
    font-style: italic;
    }
    .z-entity.z-name.z-tag, .z-meta.z-tag.z-sgml {
    color: #39bae6;
    }
    .z-punctuation.z-definition.z-tag.z-end, .z-punctuation.z-definition.z-tag.z-begin, .z-punctuation.z-definition.z-tag {
    color: #39bae6;
    }
    .z-entity.z-other.z-attribute-name {
    color: #ffb454;
    }
    .z-variable.z-function, .z-variable.z-annotation {
    color: #ffb454;
    }
    .z-support.z-function, .z-support.z-macro {
    color: #fe7d83;
    }
    .z-support.z-constant {
    color: #f29668;
    font-style: italic;
    }
    .z-support.z-type, .z-support.z-class {
    color: #39bae6;
    font-style: italic;
    }
    .z-invalid {
    color: #ff7c6d;
    }
    .z-invalid.z-deprecated {
    color: #ffffff;
    background-color: #00bbff;
    }
    .z-meta.z-diff, .z-meta.z-diff.z-header {
    color: #c594c5;
    }
    .z-source.z-ruby .z-variable.z-other.z-readwrite {
    color: #ffb454;
    }
    .z-source.z-css .z-entity.z-name.z-tag, .z-source.z-sass .z-entity.z-name.z-tag, .z-source.z-scss .z-entity.z-name.z-tag, .z-source.z-less .z-entity.z-name.z-tag, .z-source.z-stylus .z-entity.z-name.z-tag {
    color: #59c2ff;
    }
    .z-source.z-css .z-support.z-type, .z-source.z-sass .z-support.z-type, .z-source.z-scss .z-support.z-type, .z-source.z-less .z-support.z-type, .z-source.z-stylus .z-support.z-type {
    color: #798491;
    }
    .z-support.z-type.z-property-name {
    color: #39bae6;
    }
    .z-constant.z-numeric.z-line-number.z-find-in-files {
    color: #798491;
    }
    .z-constant.z-numeric.z-line-number.z-match {
    color: #00bbff;
    }
    .z-entity.z-name.z-filename.z-find-in-files {
    color: #c2d94c;
    }
    .z-message.z-error {
    color: #ff7c6d;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #39bae6;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #39bae6;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #39bae6;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #39bae6;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #39bae6;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #39bae6;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #39bae6;
    }
    .z-source.z-json .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #39bae6;
    }
    .z-source.z-json .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #39bae6;
    }
    .z-markup.z-heading {
    color: #00bbff;
    font-weight: bold;
    }
    .z-string.z-other.z-link, .z-markup.z-underline.z-link {
    color: #95e6cb;
    text-decoration: underline;
    font-style: italic;
    }
    .z-punctuation.z-definition.z-image {
    color: #ffb454;
    }
    .z-markup.z-italic {
    color: #fe7d83;
    font-style: italic;
    }
    .z-markup.z-bold {
    color: #fe7d83;
    font-weight: bold;
    }
    .z-markup.z-italic .z-markup.z-bold, .z-markup.z-bold .z-markup.z-italic {
    font-weight: bold;
    font-style: italic;
    }
    .z-markup.z-raw {
    background-color: #bfbab0;
    }
    .z-markup.z-raw.z-inline {
    background-color: #bfbab0;
    }
    .z-meta.z-separator {
    color: #798491;
    background-color: #bfbab0;
    font-weight: bold;
    }
    .z-markup.z-quote {
    color: #f29718;
    font-style: italic;
    }
    .z-markup.z-list.z-numbered.z-bullet, .z-markup.z-list .z-punctuation.z-definition.z-list_item {
    color: #95e6cb;
    }
    .z-markup.z-inserted {
    color: #c2d94c;
    }
    .z-markup.z-changed {
    color: #39bae6;
    }
    .z-markup.z-deleted {
    color: #fe7d83;
    }
    .z-markup.z-strike {
    color: #e6b673;
    }
    .z-markup.z-table {
    color: #39bae6;
    background-color: #bfbab0;
    }
    .z-text.z-html.z-markdown .z-markup.z-raw.z-inline {
    color: #f29668;
    }
    .z-text.z-html.z-markdown .z-meta.z-dummy.z-line-break {
    color: #798491;
    }
    .z-markup.z-raw.z-block.z-fenced.z-markdown {
    color: #bfbab0;
    background-color: #bfbab0;
    }
    .z-punctuation.z-definition.z-fenced.z-markdown, .z-variable.z-language.z-fenced.z-markdown {
    color: #798491;
    background-color: #bfbab0;
    }
    .z-variable.z-language.z-fenced.z-markdown {
    color: #798491;
    }
    .z-markup.z-inserted.z-git_gutter {
    color: #c2d94c;
    }
    .z-markup.z-changed.z-git_gutter {
    color: #39bae6;
    }
    .z-markup.z-deleted.z-git_gutter {
    color: #ff7c6d;
    }
    .z-markup.z-ignored.z-git_gutter {
    color: #20272c;
    }
    .z-markup.z-untracked.z-git_gutter {
    color: #20272c;
    }
    .z-gutter_color {
    color: #ffffff;
    }
    .z-acejump.z-label.z-blue {
    color: #ffffff;
    background-color: #39bae6;
    }
    .z-acejump.z-label.z-green {
    color: #ffffff;
    background-color: #c2d94c;
    }
    .z-acejump.z-label.z-orange {
    color: #ffffff;
    background-color: #00bbff;
    }
    .z-acejump.z-label.z-purple {
    color: #ffffff;
    background-color: #fe7d83;
    }
    .z-sublimelinter.z-mark.z-warning {
    color: #39bae6;
    }
    .z-sublimelinter.z-gutter-mark {
    color: #ffffff;
    }
    .z-sublimelinter.z-mark.z-error {
    color: #ff7c6d;
    }
}
@mixin light {
    .z-code {
    color: #50565a;
    background-color: #fafafa;
    }
    .z-comment, .z-punctuation.z-definition.z-comment {
    color: #676c72;
    font-style: italic;
    }
    .z-variable {
    color: #50565a;
    }
    .z-string, .z-constant.z-other.z-symbol {
    color: #497700;
    }
    .z-constant.z-numeric {
    color: #b04e00;
    }
    .z-string.z-regexp, .z-constant.z-character.z-escape {
    color: #007b59;
    }
    .z-constant.z-language {
    color: #b04e00;
    }
    .z-constant.z-character, .z-constant.z-other {
    color: #b04e00;
    }
    .z-variable.z-member {
    color: #c33947;
    }
    .z-keyword, .z-keyword.z-operator.z-word {
    color: #0062e8;
    }
    .z-keyword.z-operator {
    color: #a4552c;
    }
    .z-punctuation.z-separator, .z-punctuation.z-terminator {
    color: #50565a;
    }
    .z-punctuation.z-section {
    color: #50565a;
    }
    .z-punctuation.z-accessor {
    color: #a4552c;
    }
    .z-punctuation.z-definition.z-annotation {
    color: #50565a;
    }
    .z-variable.z-other.z-dollar.z-only.z-js, .z-variable.z-other.z-object.z-dollar.z-only.z-js, .z-variable.z-type.z-dollar.z-only.z-js, .z-support.z-class.z-dollar.z-only.z-js {
    color: #8b6426;
    }
    .z-storage {
    color: #0062e8;
    }
    .z-storage.z-type {
    color: #0062e8;
    }
    .z-entity.z-name.z-function {
    color: #a45600;
    }
    .z-entity.z-name, .z-entity.z-name.z-tag, .z-entity.z-name.z-label {
    color: #0070b3;
    }
    .z-entity.z-other.z-inherited-class {
    color: #0070b3;
    text-decoration: underline;
    }
    .z-variable.z-parameter {
    color: #b04e00;
    }
    .z-variable.z-language {
    color: #007492;
    font-style: italic;
    }
    .z-entity.z-name.z-tag, .z-meta.z-tag.z-sgml {
    color: #007492;
    }
    .z-punctuation.z-definition.z-tag.z-end, .z-punctuation.z-definition.z-tag.z-begin, .z-punctuation.z-definition.z-tag {
    color: #007492;
    }
    .z-entity.z-other.z-attribute-name {
    color: #a45600;
    }
    .z-variable.z-function, .z-variable.z-annotation {
    color: #a45600;
    }
    .z-support.z-function, .z-support.z-macro {
    color: #b94046;
    }
    .z-support.z-constant {
    color: #a4552c;
    font-style: italic;
    }
    .z-support.z-type, .z-support.z-class {
    color: #007492;
    font-style: italic;
    }
    .z-invalid {
    color: #da0001;
    }
    .z-invalid.z-deprecated {
    color: #ffffff;
    background-color: #0062e8;
    }
    .z-source.z-ruby .z-variable.z-other.z-readwrite {
    color: #a45600;
    }
    .z-source.z-css .z-entity.z-name.z-tag, .z-source.z-sass .z-entity.z-name.z-tag, .z-source.z-scss .z-entity.z-name.z-tag, .z-source.z-less .z-entity.z-name.z-tag, .z-source.z-stylus .z-entity.z-name.z-tag {
    color: #0070b3;
    }
    .z-source.z-css .z-support.z-type, .z-source.z-sass .z-support.z-type, .z-source.z-scss .z-support.z-type, .z-source.z-less .z-support.z-type, .z-source.z-stylus .z-support.z-type {
    color: #676c72;
    }
    .z-support.z-type.z-property-name {
    color: #007492;
    }
    .z-constant.z-numeric.z-line-number.z-find-in-files {
    color: #676c72;
    }
    .z-constant.z-numeric.z-line-number.z-match {
    color: #0062e8;
    }
    .z-entity.z-name.z-filename.z-find-in-files {
    color: #497700;
    }
    .z-message.z-error {
    color: #da0001;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #007492;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #007492;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #007492;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #007492;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #007492;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #007492;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #007492;
    }
    .z-source.z-json .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #007492;
    }
    .z-source.z-json .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #007492;
    }
    .z-markup.z-heading {
    color: #0062e8;
    font-weight: bold;
    }
    .z-string.z-other.z-link, .z-markup.z-underline.z-link {
    color: #007b59;
    text-decoration: underline;
    font-style: italic;
    }
    .z-punctuation.z-definition.z-image {
    color: #a45600;
    }
    .z-markup.z-italic {
    color: #b94046;
    font-style: italic;
    }
    .z-markup.z-bold {
    color: #b94046;
    font-weight: bold;
    }
    .z-markup.z-italic .z-markup.z-bold, .z-markup.z-bold .z-markup.z-italic {
    font-weight: bold;
    font-style: italic;
    }
    .z-markup.z-raw {
    background-color: #50565a;
    }
    .z-markup.z-raw.z-inline {
    background-color: #50565a;
    }
    .z-meta.z-separator {
    color: #676c72;
    background-color: #50565a;
    font-weight: bold;
    }
    .z-markup.z-quote {
    color: #b04e00;
    font-style: italic;
    }
    .z-markup.z-list.z-numbered.z-bullet, .z-markup.z-list .z-punctuation.z-definition.z-list_item {
    color: #007b59;
    }
    .z-markup.z-inserted {
    color: #497700;
    }
    .z-markup.z-changed {
    color: #007492;
    }
    .z-markup.z-deleted {
    color: #b94046;
    }
    .z-markup.z-strike {
    color: #8b6426;
    }
    .z-markup.z-table {
    color: #007492;
    background-color: #50565a;
    }
    .z-text.z-html.z-markdown .z-markup.z-raw.z-inline {
    color: #a4552c;
    }
    .z-text.z-html.z-markdown .z-meta.z-dummy.z-line-break {
    color: #676c72;
    }
    .z-markup.z-raw.z-block.z-fenced.z-markdown {
    color: #50565a;
    background-color: #50565a;
    }
    .z-punctuation.z-definition.z-fenced.z-markdown, .z-variable.z-language.z-fenced.z-markdown {
    color: #676c72;
    background-color: #50565a;
    }
    .z-variable.z-language.z-fenced.z-markdown {
    color: #676c72;
    }
    .z-markup.z-inserted.z-git_gutter {
    color: #497700;
    }
    .z-markup.z-changed.z-git_gutter {
    color: #007492;
    }
    .z-markup.z-deleted.z-git_gutter {
    color: #da0001;
    }
    .z-markup.z-ignored.z-git_gutter {
    color: #696b6c;
    }
    .z-markup.z-untracked.z-git_gutter {
    color: #696b6c;
    }
    .z-gutter_color {
    color: #ffffff;
    }
    .z-acejump.z-label.z-blue {
    color: #ffffff;
    background-color: #007492;
    }
    .z-acejump.z-label.z-green {
    color: #ffffff;
    background-color: #497700;
    }
    .z-acejump.z-label.z-orange {
    color: #ffffff;
    background-color: #0062e8;
    }
    .z-acejump.z-label.z-purple {
    color: #ffffff;
    background-color: #b94046;
    }
    .z-sublimelinter.z-mark.z-warning {
    color: #007492;
    }
    .z-sublimelinter.z-gutter-mark {
    color: #ffffff;
    }
    .z-sublimelinter.z-mark.z-error {
    color: #da0001;
    }
}
