:root {
    .z-code {
    color: #f8f8f2;
    background-color: #191919;
    }
    .z-comment {
    color: #7080b3;
    }
    .z-string {
    color: #f1fa8c;
    }
    .z-constant.z-numeric {
    color: #bd93f9;
    }
    .z-constant.z-language {
    color: #bd93f9;
    }
    .z-constant.z-character, .z-constant.z-other {
    color: #bd93f9;
    }
    .z-variable {
    }
    .z-variable.z-other.z-readwrite.z-instance {
    color: #ffb86c;
    }
    .z-constant.z-character.z-escaped, .z-constant.z-character.z-escape, .z-string .z-source, .z-string .z-source.z-ruby {
    color: #ff79c6;
    }
    .z-source.z-ruby .z-string.z-regexp.z-classic.z-ruby, .z-source.z-ruby .z-string.z-regexp.z-mod-r.z-ruby {
    color: #ff7d78;
    }
    .z-keyword {
    color: #ff79c6;
    }
    .z-storage {
    color: #ff79c6;
    }
    .z-storage.z-type {
    color: #8be9fd;
    font-style: italic;
    }
    .z-storage.z-type.z-namespace {
    color: #8be9fd;
    font-style: italic;
    }
    .z-storage.z-type.z-class {
    color: #ff79c6;
    font-style: italic;
    }
    .z-entity.z-name.z-class {
    color: #8be9fd;
    text-decoration: underline;
    }
    .z-meta.z-path {
    color: #66d9ef;
    text-decoration: underline;
    }
    .z-entity.z-other.z-inherited-class {
    color: #8be9fd;
    text-decoration: underline;
    font-style: italic;
    }
    .z-entity.z-name.z-function {
    color: #50fa7b;
    }
    .z-variable.z-parameter {
    color: #ffb86c;
    font-style: italic;
    }
    .z-entity.z-name.z-tag {
    color: #ff79c6;
    }
    .z-entity.z-other.z-attribute-name {
    color: #50fa7b;
    }
    .z-support.z-function {
    color: #8be9fd;
    }
    .z-support.z-constant {
    color: #6be5fd;
    }
    .z-support.z-type, .z-support.z-class {
    color: #66d9ef;
    font-style: italic;
    }
    .z-support.z-other.z-variable {
    }
    .z-support.z-other.z-namespace {
    color: #66d9ef;
    font-style: italic;
    }
    .z-invalid {
    color: #f8f8f0;
    background-color: #ff79c6;
    }
    .z-invalid.z-deprecated {
    color: #f8f8f0;
    background-color: #bd93f9;
    }
    .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json {
    color: #cfcfc2;
    }
    .z-meta.z-diff, .z-meta.z-diff.z-header {
    color: #7080b3;
    }
    .z-markup.z-deleted {
    color: #ff79c6;
    }
    .z-markup.z-inserted {
    color: #50fa7b;
    }
    .z-markup.z-changed {
    color: #e6db74;
    }
    .z-constant.z-numeric.z-line-number.z-find-in-files {
    color: #bd93f9;
    }
    .z-entity.z-name.z-filename {
    color: #e6db74;
    }
    .z-message.z-error {
    color: #ff7c6d;
    }
    .z-punctuation.z-definition.z-string.z-begin.z-json, .z-punctuation.z-definition.z-string.z-end.z-json {
    color: #eeeeee;
    }
    .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json {
    color: #8be9fd;
    }
    .z-meta.z-structure.z-dictionary.z-value.z-json .z-string.z-quoted.z-double.z-json {
    color: #f1fa8c;
    }
    .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-value .z-string {
    color: #50fa7b;
    }
    .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-value .z-string {
    color: #ffb86c;
    }
    .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-value .z-string {
    color: #ff79c6;
    }
    .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-value .z-string {
    color: #bd93f9;
    }
    .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-value .z-string {
    color: #50fa7b;
    }
    .z-meta .z-meta.z-structure.z-dictionary.z-value .z-string {
    color: #ffb86c;
    }
    .z-markup.z-strike {
    color: #ffb86c;
    font-style: italic;
    }
    .z-markup.z-bold {
    color: #ffb86c;
    font-weight: bold;
    }
    .z-markup.z-italic {
    color: #ffb86c;
    font-style: italic;
    }
    .z-markup.z-heading {
    color: #8be9fd;
    }
    .z-punctuation.z-definition.z-list_item.z-markdown {
    color: #ff79c6;
    }
    .z-markup.z-quote {
    color: #7080b3;
    font-style: italic;
    }
    .z-punctuation.z-definition.z-blockquote.z-markdown {
    color: #7080b3;
    background-color: #7080b3;
    font-style: italic;
    }
    .z-meta.z-separator {
    color: #7080b3;
    }
    .z-text.z-html.z-markdown .z-markup.z-raw.z-inline {
    color: #50fa7b;
    }
    .z-markup.z-underline {
    color: #bd93f9;
    text-decoration: underline;
    }
    .z-markup.z-raw.z-block {
    color: #cfcfc2;
    }
    .z-markup.z-raw.z-block.z-fenced.z-markdown .z-source {
    color: #f8f8f2;
    }
    .z-punctuation.z-definition.z-fenced.z-markdown, .z-variable.z-language.z-fenced.z-markdown {
    color: #7080b3;
    font-style: italic;
    }
    .z-variable.z-language.z-fenced.z-markdown {
    color: #7080b3;
    font-style: italic;
    }
    .z-punctuation.z-accessor {
    color: #ff79c6;
    }
    .z-meta.z-function.z-return-type {
    color: #ff79c6;
    }
    .z-punctuation.z-section.z-block.z-begin {
    color: #ffffff;
    }
    .z-punctuation.z-section.z-block.z-end {
    color: #ffffff;
    }
    .z-punctuation.z-section.z-embedded.z-begin {
    color: #ff79c6;
    }
    .z-punctuation.z-section.z-embedded.z-end {
    color: #ff79c6;
    }
    .z-punctuation.z-separator.z-namespace {
    color: #ff79c6;
    }
    .z-variable.z-function {
    color: #50fa7b;
    }
    .z-variable.z-other {
    color: #ffffff;
    }
    .z-variable.z-language {
    color: #bd93f9;
    }
    .z-entity.z-name.z-module.z-ruby {
    color: #8be9fd;
    }
    .z-entity.z-name.z-constant.z-ruby {
    color: #bd93f9;
    }
    .z-support.z-function.z-builtin.z-ruby {
    color: #ffffff;
    }
    .z-storage.z-type.z-namespace.z-cs {
    color: #ff79c6;
    }
    .z-entity.z-name.z-namespace.z-cs {
    color: #8be9fd;
    }
}
@media (prefers-color-scheme: light) {
  :root {
    .z-code {
    color: #72726d;
    background-color: #ffffff;
    }
    .z-comment {
    color: #6272a4;
    }
    .z-string {
    color: #6b7807;
    }
    .z-constant.z-numeric {
    color: #8660c1;
    }
    .z-constant.z-language {
    color: #8660c1;
    }
    .z-constant.z-character, .z-constant.z-other {
    color: #8660c1;
    }
    .z-variable {
    }
    .z-variable.z-other.z-readwrite.z-instance {
    color: #a1661c;
    }
    .z-constant.z-character.z-escaped, .z-constant.z-character.z-escape, .z-string .z-source, .z-string .z-source.z-ruby {
    color: #c13f8e;
    }
    .z-source.z-ruby .z-string.z-regexp.z-classic.z-ruby, .z-source.z-ruby .z-string.z-regexp.z-mod-r.z-ruby {
    color: #d9303a;
    }
    .z-keyword {
    color: #c13f8e;
    }
    .z-storage {
    color: #c13f8e;
    }
    .z-storage.z-type {
    color: #007d90;
    font-style: italic;
    }
    .z-storage.z-type.z-namespace {
    color: #007d90;
    font-style: italic;
    }
    .z-storage.z-type.z-class {
    color: #c13f8e;
    font-style: italic;
    }
    .z-entity.z-name.z-class {
    color: #007d90;
    text-decoration: underline;
    }
    .z-meta.z-path {
    color: #007f93;
    text-decoration: underline;
    }
    .z-entity.z-other.z-inherited-class {
    color: #007d90;
    text-decoration: underline;
    font-style: italic;
    }
    .z-entity.z-name.z-function {
    color: #008504;
    }
    .z-variable.z-parameter {
    color: #a1661c;
    font-style: italic;
    }
    .z-entity.z-name.z-tag {
    color: #c13f8e;
    }
    .z-entity.z-other.z-attribute-name {
    color: #008504;
    }
    .z-support.z-function {
    color: #007d90;
    }
    .z-support.z-constant {
    color: #007e94;
    }
    .z-support.z-type, .z-support.z-class {
    color: #007f93;
    font-style: italic;
    }
    .z-support.z-other.z-variable {
    }
    .z-support.z-other.z-namespace {
    color: #007f93;
    font-style: italic;
    }
    .z-invalid {
    color: #72726b;
    background-color: #c13f8e;
    }
    .z-invalid.z-deprecated {
    color: #72726b;
    background-color: #8660c1;
    }
    .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json {
    color: #747469;
    }
    .z-meta.z-diff, .z-meta.z-diff.z-header {
    color: #6272a4;
    }
    .z-markup.z-deleted {
    color: #c13f8e;
    }
    .z-markup.z-inserted {
    color: #008504;
    }
    .z-markup.z-changed {
    color: #7b760c;
    }
    .z-constant.z-numeric.z-line-number.z-find-in-files {
    color: #8660c1;
    }
    .z-entity.z-name.z-filename {
    color: #7b760c;
    }
    .z-message.z-error {
    color: #e31625;
    }
    .z-punctuation.z-definition.z-string.z-begin.z-json, .z-punctuation.z-definition.z-string.z-end.z-json {
    color: #727272;
    }
    .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json {
    color: #007d90;
    }
    .z-meta.z-structure.z-dictionary.z-value.z-json .z-string.z-quoted.z-double.z-json {
    color: #6b7807;
    }
    .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-value .z-string {
    color: #008504;
    }
    .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-value .z-string {
    color: #a1661c;
    }
    .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-value .z-string {
    color: #c13f8e;
    }
    .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-value .z-string {
    color: #8660c1;
    }
    .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-value .z-string {
    color: #008504;
    }
    .z-meta .z-meta.z-structure.z-dictionary.z-value .z-string {
    color: #a1661c;
    }
    .z-markup.z-strike {
    color: #a1661c;
    font-style: italic;
    }
    .z-markup.z-bold {
    color: #a1661c;
    font-weight: bold;
    }
    .z-markup.z-italic {
    color: #a1661c;
    font-style: italic;
    }
    .z-markup.z-heading {
    color: #007d90;
    }
    .z-punctuation.z-definition.z-list_item.z-markdown {
    color: #c13f8e;
    }
    .z-markup.z-quote {
    color: #6272a4;
    font-style: italic;
    }
    .z-punctuation.z-definition.z-blockquote.z-markdown {
    color: #6272a4;
    background-color: #6272a4;
    font-style: italic;
    }
    .z-meta.z-separator {
    color: #6272a4;
    }
    .z-text.z-html.z-markdown .z-markup.z-raw.z-inline {
    color: #008504;
    }
    .z-markup.z-underline {
    color: #8660c1;
    text-decoration: underline;
    }
    .z-markup.z-raw.z-block {
    color: #747469;
    }
    .z-markup.z-raw.z-block.z-fenced.z-markdown .z-source {
    color: #72726d;
    }
    .z-punctuation.z-definition.z-fenced.z-markdown, .z-variable.z-language.z-fenced.z-markdown {
    color: #6272a4;
    font-style: italic;
    }
    .z-variable.z-language.z-fenced.z-markdown {
    color: #6272a4;
    font-style: italic;
    }
    .z-punctuation.z-accessor {
    color: #c13f8e;
    }
    .z-meta.z-function.z-return-type {
    color: #c13f8e;
    }
    .z-punctuation.z-section.z-block.z-begin {
    color: #ffffff;
    }
    .z-punctuation.z-section.z-block.z-end {
    color: #ffffff;
    }
    .z-punctuation.z-section.z-embedded.z-begin {
    color: #c13f8e;
    }
    .z-punctuation.z-section.z-embedded.z-end {
    color: #c13f8e;
    }
    .z-punctuation.z-separator.z-namespace {
    color: #c13f8e;
    }
    .z-variable.z-function {
    color: #008504;
    }
    .z-variable.z-other {
    color: #ffffff;
    }
    .z-variable.z-language {
    color: #8660c1;
    }
    .z-entity.z-name.z-module.z-ruby {
    color: #007d90;
    }
    .z-entity.z-name.z-constant.z-ruby {
    color: #8660c1;
    }
    .z-support.z-function.z-builtin.z-ruby {
    color: #ffffff;
    }
    .z-storage.z-type.z-namespace.z-cs {
    color: #c13f8e;
    }
    .z-entity.z-name.z-namespace.z-cs {
    color: #007d90;
    }
  }
}