:root {
    .z-code {
    color: #ccc9c2;
    background-color: #191919;
    }
    .z-comment, .z-punctuation.z-definition.z-comment {
    color: #798491;
    font-style: italic;
    }
    .z-variable {
    color: #ccc9c2;
    }
    .z-string, .z-constant.z-other.z-symbol {
    color: #bae67e;
    }
    .z-constant.z-numeric {
    color: #ffcc66;
    }
    .z-string.z-regexp, .z-constant.z-character.z-escape {
    color: #95e6cb;
    }
    .z-constant.z-language {
    color: #ffcc66;
    }
    .z-constant.z-character, .z-constant.z-other {
    color: #ffcc66;
    }
    .z-variable.z-member {
    color: #fe7d83;
    }
    .z-keyword, .z-keyword.z-operator.z-word {
    color: #ffa759;
    }
    .z-keyword.z-operator {
    color: #f29e74;
    }
    .z-punctuation.z-separator, .z-punctuation.z-terminator {
    color: #ccc9c2;
    }
    .z-punctuation.z-section {
    color: #ccc9c2;
    }
    .z-punctuation.z-accessor {
    color: #f29e74;
    }
    .z-punctuation.z-definition.z-annotation {
    color: #ccc9c2;
    }
    .z-variable.z-other.z-dollar.z-only.z-js, .z-variable.z-other.z-object.z-dollar.z-only.z-js, .z-variable.z-type.z-dollar.z-only.z-js, .z-support.z-class.z-dollar.z-only.z-js {
    color: #ffc44c;
    }
    .z-storage {
    color: #ffa759;
    }
    .z-storage.z-type {
    color: #ffa759;
    }
    .z-entity.z-name.z-function {
    color: #ffd580;
    }
    .z-entity.z-name, .z-entity.z-name.z-tag, .z-entity.z-name.z-label {
    color: #73d0ff;
    }
    .z-entity.z-other.z-inherited-class {
    color: #73d0ff;
    text-decoration: underline;
    }
    .z-variable.z-parameter {
    color: #ffcc66;
    }
    .z-variable.z-language {
    color: #5ccfe6;
    font-style: italic;
    }
    .z-entity.z-name.z-tag, .z-meta.z-tag.z-sgml {
    color: #5ccfe6;
    }
    .z-punctuation.z-definition.z-tag.z-end, .z-punctuation.z-definition.z-tag.z-begin, .z-punctuation.z-definition.z-tag {
    color: #5ccfe6;
    }
    .z-entity.z-other.z-attribute-name {
    color: #ffd580;
    }
    .z-variable.z-function, .z-variable.z-annotation {
    color: #ffd580;
    }
    .z-support.z-function, .z-support.z-macro {
    color: #f28779;
    }
    .z-support.z-constant {
    color: #f29e74;
    font-style: italic;
    }
    .z-support.z-type, .z-support.z-class {
    color: #5ccfe6;
    font-style: italic;
    }
    .z-invalid {
    color: #ff7c6d;
    }
    .z-invalid.z-deprecated {
    color: #ffffff;
    background-color: #ffa759;
    }
    .z-meta.z-diff, .z-meta.z-diff.z-header {
    color: #c594c5;
    }
    .z-source.z-ruby .z-variable.z-other.z-readwrite {
    color: #ffd580;
    }
    .z-source.z-css .z-entity.z-name.z-tag, .z-source.z-sass .z-entity.z-name.z-tag, .z-source.z-scss .z-entity.z-name.z-tag, .z-source.z-less .z-entity.z-name.z-tag, .z-source.z-stylus .z-entity.z-name.z-tag {
    color: #73d0ff;
    }
    .z-source.z-css .z-support.z-type, .z-source.z-sass .z-support.z-type, .z-source.z-scss .z-support.z-type, .z-source.z-less .z-support.z-type, .z-source.z-stylus .z-support.z-type {
    color: #798491;
    }
    .z-support.z-type.z-property-name {
    color: #5ccfe6;
    }
    .z-constant.z-numeric.z-line-number.z-find-in-files {
    color: #798491;
    }
    .z-constant.z-numeric.z-line-number.z-match {
    color: #ffa759;
    }
    .z-entity.z-name.z-filename.z-find-in-files {
    color: #bae67e;
    }
    .z-message.z-error {
    color: #ff7c6d;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #5ccfe6;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #5ccfe6;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #5ccfe6;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #5ccfe6;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #5ccfe6;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #5ccfe6;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #5ccfe6;
    }
    .z-source.z-json .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #5ccfe6;
    }
    .z-source.z-json .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #5ccfe6;
    }
    .z-markup.z-heading {
    color: #ffa759;
    font-weight: bold;
    }
    .z-string.z-other.z-link, .z-markup.z-underline.z-link {
    color: #95e6cb;
    text-decoration: underline;
    font-style: italic;
    }
    .z-punctuation.z-definition.z-image {
    color: #ffd580;
    }
    .z-markup.z-italic {
    color: #f28779;
    font-style: italic;
    }
    .z-markup.z-bold {
    color: #f28779;
    font-weight: bold;
    }
    .z-markup.z-italic .z-markup.z-bold, .z-markup.z-bold .z-markup.z-italic {
    font-weight: bold;
    font-style: italic;
    }
    .z-markup.z-raw {
    background-color: #ccc9c2;
    }
    .z-markup.z-raw.z-inline {
    background-color: #ccc9c2;
    }
    .z-meta.z-separator {
    color: #798491;
    background-color: #ccc9c2;
    font-weight: bold;
    }
    .z-markup.z-quote {
    color: #ffcc66;
    font-style: italic;
    }
    .z-markup.z-list.z-numbered.z-bullet, .z-markup.z-list .z-punctuation.z-definition.z-list_item {
    color: #95e6cb;
    }
    .z-markup.z-inserted {
    color: #bae67e;
    }
    .z-markup.z-changed {
    color: #5ccfe6;
    }
    .z-markup.z-deleted {
    color: #f28779;
    }
    .z-markup.z-strike {
    color: #ffc44c;
    }
    .z-markup.z-table {
    color: #5ccfe6;
    background-color: #ccc9c2;
    }
    .z-text.z-html.z-markdown .z-markup.z-raw.z-inline {
    color: #f29e74;
    }
    .z-text.z-html.z-markdown .z-meta.z-dummy.z-line-break {
    color: #798491;
    }
    .z-markup.z-raw.z-block.z-fenced.z-markdown {
    color: #ccc9c2;
    background-color: #ccc9c2;
    }
    .z-punctuation.z-definition.z-fenced.z-markdown, .z-variable.z-language.z-fenced.z-markdown {
    color: #798491;
    background-color: #ccc9c2;
    }
    .z-variable.z-language.z-fenced.z-markdown {
    color: #798491;
    }
    .z-markup.z-inserted.z-git_gutter {
    color: #bae67e;
    }
    .z-markup.z-changed.z-git_gutter {
    color: #5ccfe6;
    }
    .z-markup.z-deleted.z-git_gutter {
    color: #ff7c6d;
    }
    .z-markup.z-ignored.z-git_gutter {
    color: #363e4a;
    }
    .z-markup.z-untracked.z-git_gutter {
    color: #363e4a;
    }
    .z-gutter_color {
    color: #ffffff;
    }
    .z-acejump.z-label.z-blue {
    color: #ffffff;
    background-color: #5ccfe6;
    }
    .z-acejump.z-label.z-green {
    color: #ffffff;
    background-color: #bae67e;
    }
    .z-acejump.z-label.z-orange {
    color: #ffffff;
    background-color: #ffa759;
    }
    .z-acejump.z-label.z-purple {
    color: #ffffff;
    background-color: #f28779;
    }
    .z-sublimelinter.z-mark.z-warning {
    color: #5ccfe6;
    }
    .z-sublimelinter.z-gutter-mark {
    color: #ffffff;
    }
    .z-sublimelinter.z-mark.z-error {
    color: #ff7c6d;
    }
}
@media (prefers-color-scheme: light) {
  :root {
    .z-code {
    color: #76736d;
    background-color: #ffffff;
    }
    .z-comment, .z-punctuation.z-definition.z-comment {
    color: #5c6773;
    font-style: italic;
    }
    .z-variable {
    color: #76736d;
    }
    .z-string, .z-constant.z-other.z-symbol {
    color: #547f1c;
    }
    .z-constant.z-numeric {
    color: #926b00;
    }
    .z-string.z-regexp, .z-constant.z-character.z-escape {
    color: #2d7f68;
    }
    .z-constant.z-language {
    color: #926b00;
    }
    .z-constant.z-character, .z-constant.z-other {
    color: #926b00;
    }
    .z-variable.z-member {
    color: #cb414d;
    }
    .z-keyword, .z-keyword.z-operator.z-word {
    color: #aa5f0f;
    }
    .z-keyword.z-operator {
    color: #aa5f39;
    }
    .z-punctuation.z-separator, .z-punctuation.z-terminator {
    color: #76736d;
    }
    .z-punctuation.z-section {
    color: #76736d;
    }
    .z-punctuation.z-accessor {
    color: #aa5f39;
    }
    .z-punctuation.z-definition.z-annotation {
    color: #76736d;
    }
    .z-variable.z-other.z-dollar.z-only.z-js, .z-variable.z-other.z-object.z-dollar.z-only.z-js, .z-variable.z-type.z-dollar.z-only.z-js, .z-support.z-class.z-dollar.z-only.z-js {
    color: #986b00;
    }
    .z-storage {
    color: #aa5f0f;
    }
    .z-storage.z-type {
    color: #aa5f0f;
    }
    .z-entity.z-name.z-function {
    color: #8f6f1d;
    }
    .z-entity.z-name, .z-entity.z-name.z-tag, .z-entity.z-name.z-label {
    color: #007ca7;
    }
    .z-entity.z-other.z-inherited-class {
    color: #007ca7;
    text-decoration: underline;
    }
    .z-variable.z-parameter {
    color: #926b00;
    }
    .z-variable.z-language {
    color: #007f95;
    font-style: italic;
    }
    .z-entity.z-name.z-tag, .z-meta.z-tag.z-sgml {
    color: #007f95;
    }
    .z-punctuation.z-definition.z-tag.z-end, .z-punctuation.z-definition.z-tag.z-begin, .z-punctuation.z-definition.z-tag {
    color: #007f95;
    }
    .z-entity.z-other.z-attribute-name {
    color: #8f6f1d;
    }
    .z-variable.z-function, .z-variable.z-annotation {
    color: #8f6f1d;
    }
    .z-support.z-function, .z-support.z-macro {
    color: #b75349;
    }
    .z-support.z-constant {
    color: #aa5f39;
    font-style: italic;
    }
    .z-support.z-type, .z-support.z-class {
    color: #007f95;
    font-style: italic;
    }
    .z-invalid {
    color: #e40320;
    }
    .z-invalid.z-deprecated {
    color: #ffffff;
    background-color: #aa5f0f;
    }
    .z-meta.z-diff, .z-meta.z-diff.z-header {
    color: #916392;
    }
    .z-source.z-ruby .z-variable.z-other.z-readwrite {
    color: #8f6f1d;
    }
    .z-source.z-css .z-entity.z-name.z-tag, .z-source.z-sass .z-entity.z-name.z-tag, .z-source.z-scss .z-entity.z-name.z-tag, .z-source.z-less .z-entity.z-name.z-tag, .z-source.z-stylus .z-entity.z-name.z-tag {
    color: #007ca7;
    }
    .z-source.z-css .z-support.z-type, .z-source.z-sass .z-support.z-type, .z-source.z-scss .z-support.z-type, .z-source.z-less .z-support.z-type, .z-source.z-stylus .z-support.z-type {
    color: #5c6773;
    }
    .z-support.z-type.z-property-name {
    color: #007f95;
    }
    .z-constant.z-numeric.z-line-number.z-find-in-files {
    color: #5c6773;
    }
    .z-constant.z-numeric.z-line-number.z-match {
    color: #aa5f0f;
    }
    .z-entity.z-name.z-filename.z-find-in-files {
    color: #547f1c;
    }
    .z-message.z-error {
    color: #e40320;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #007f95;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #007f95;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #007f95;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #007f95;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #007f95;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #007f95;
    }
    .z-source.z-json .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #007f95;
    }
    .z-source.z-json .z-meta .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #007f95;
    }
    .z-source.z-json .z-meta.z-structure.z-dictionary.z-json .z-string.z-quoted.z-double.z-json, .z-source.z-json .z-meta.z-structure.z-dictionary.z-json .z-punctuation.z-definition.z-string {
    color: #007f95;
    }
    .z-markup.z-heading {
    color: #aa5f0f;
    font-weight: bold;
    }
    .z-string.z-other.z-link, .z-markup.z-underline.z-link {
    color: #2d7f68;
    text-decoration: underline;
    font-style: italic;
    }
    .z-punctuation.z-definition.z-image {
    color: #8f6f1d;
    }
    .z-markup.z-italic {
    color: #b75349;
    font-style: italic;
    }
    .z-markup.z-bold {
    color: #b75349;
    font-weight: bold;
    }
    .z-markup.z-italic .z-markup.z-bold, .z-markup.z-bold .z-markup.z-italic {
    font-weight: bold;
    font-style: italic;
    }
    .z-markup.z-raw {
    background-color: #76736d;
    }
    .z-markup.z-raw.z-inline {
    background-color: #76736d;
    }
    .z-meta.z-separator {
    color: #5c6773;
    background-color: #76736d;
    font-weight: bold;
    }
    .z-markup.z-quote {
    color: #926b00;
    font-style: italic;
    }
    .z-markup.z-list.z-numbered.z-bullet, .z-markup.z-list .z-punctuation.z-definition.z-list_item {
    color: #2d7f68;
    }
    .z-markup.z-inserted {
    color: #547f1c;
    }
    .z-markup.z-changed {
    color: #007f95;
    }
    .z-markup.z-deleted {
    color: #b75349;
    }
    .z-markup.z-strike {
    color: #986b00;
    }
    .z-markup.z-table {
    color: #007f95;
    background-color: #76736d;
    }
    .z-text.z-html.z-markdown .z-markup.z-raw.z-inline {
    color: #aa5f39;
    }
    .z-text.z-html.z-markdown .z-meta.z-dummy.z-line-break {
    color: #5c6773;
    }
    .z-markup.z-raw.z-block.z-fenced.z-markdown {
    color: #76736d;
    background-color: #76736d;
    }
    .z-punctuation.z-definition.z-fenced.z-markdown, .z-variable.z-language.z-fenced.z-markdown {
    color: #5c6773;
    background-color: #76736d;
    }
    .z-variable.z-language.z-fenced.z-markdown {
    color: #5c6773;
    }
    .z-markup.z-inserted.z-git_gutter {
    color: #547f1c;
    }
    .z-markup.z-changed.z-git_gutter {
    color: #007f95;
    }
    .z-markup.z-deleted.z-git_gutter {
    color: #e40320;
    }
    .z-markup.z-ignored.z-git_gutter {
    color: #363e4a;
    }
    .z-markup.z-untracked.z-git_gutter {
    color: #363e4a;
    }
    .z-gutter_color {
    color: #ffffff;
    }
    .z-acejump.z-label.z-blue {
    color: #ffffff;
    background-color: #007f95;
    }
    .z-acejump.z-label.z-green {
    color: #ffffff;
    background-color: #547f1c;
    }
    .z-acejump.z-label.z-orange {
    color: #ffffff;
    background-color: #aa5f0f;
    }
    .z-acejump.z-label.z-purple {
    color: #ffffff;
    background-color: #b75349;
    }
    .z-sublimelinter.z-mark.z-warning {
    color: #007f95;
    }
    .z-sublimelinter.z-gutter-mark {
    color: #ffffff;
    }
    .z-sublimelinter.z-mark.z-error {
    color: #e40320;
    }
  }
}