{% extends "base.html" %}

{% block content %}
  <div>
  <center>
    <h1>{{ terms | length }} Categories</h1>
    <p>{% for term in terms -%}[<a href="#{{ term.name }}">{{ term.name }}</a>] &nbsp; {%- endfor %}</p>
  </center>
  {% for term in terms -%}<h2 id="{{ term.name }}"><a href="{{ term.permalink | safe }}">{{ term.name }}</a></h2>
  {% for page in term.pages -%}<p><a href="{{ page.permalink | safe }}">{{ page.title }}</a> - <time datetime="{{ page.date }}">{{ page.date | date(format=config.extra.timeformat |	default(value="%B %e, %Y")) }}</time></p>
  {% endfor -%}{% endfor -%}
</div>{% endblock content %}
