{%- macro title(page) %}
        <h1><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h1>
        <span>{{ page.date | date(format="%B %d, %Y") }}
        {%- if page.taxonomies.authors and config.taxonomies %} by
          {%- for author in page.taxonomies.authors %}
          {%- if author_flag %} and {% endif %}
          <a href="{{ get_taxonomy_url(kind='authors', name=author) | safe }}">{{ author }}</a>
          {%- set_global author_flag = true %}
          {%- endfor %}
        {%- elif config.extra.author and config.extra.author_show %} by {{ config.extra.author }}
        {%- endif %}
{%- if page.taxonomies.categories %} [{% for cat in page.taxonomies.categories %}<a href="{{ get_taxonomy_url(kind="categories", name=cat) | safe }}">{{ cat }}</a>{% endfor %}]{% endif %}
{%- if page.taxonomies.tags %} {%- for tag in page.taxonomies.tags %} #<a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag }}</a> {% endfor -%}{%- endif %}
{%- if config.extra.readtime %} - {{ page.reading_time }} {{ config.extra.readtime_string | default(value="min") }} {% endif %}
        </span>
{%- endmacro title %}


{%- macro footer(page) %}
<h3><a href="#">Back to top</a></h3>
{%- endmacro footer %}


{%- macro pagination(paginator)%}
  {%- if paginator.number_pagers > 1 %}
      <nav>
        <div>{%- if paginator.previous %}<a href="{{ paginator.previous | safe }}">&#60; Previous</a> {% endif %} </div>
        <div>
          <ul>
            {%- for i in range(start=1, end=paginator.number_pagers+1) %}
            <li>
              {%- if i == paginator.current_index %}
              <a class="pag cnav">{{i}}</a>
              {%- elif i > 1 %}
              <a class="pag" href="{{paginator.base_url | safe }}{{i ~ '/'}}">{{i}}</a>
              {%- else %}
              <a class="pag" href="{{paginator.first | safe }}">{{i}}</a>
              {%- endif %}
            </li>
            {%- endfor %}
          </ul>
        </div>
        <div>{%- if paginator.next %}<a href="{{ paginator.next | safe }}">Next &#62;</a>{% endif %} </div>
      </nav>
  {%- endif %}
{%- endmacro %}
