{%- if caption %}<figure class="fi{% if class %} {{class}}{% endif %}">{% endif -%}
<audio controls{% if class %} class="{{class}}"{% endif %}{% if autoplay %} autoplay{% endif %}{% if loop %} loop{% endif %}{% if muted %} muted{% endif %}{% if playsinline %} playsinline{% endif %}>
  {% for src in sources -%}

  {%- set file = src | split(pat="/") | last %}
  {%- set dirtest = src | trim_start_matches(pat="./") %}
  {%- if dirtest is containing("/") %} {%- set reldir = true %} {%- endif %}
  {%- if page.path %}{%- set pagepath = page.path %}{%- elif section.path %}{%- set pagepath = section.path %}{%- endif %}

  {%- if src is starting_with("./") and reldir %}{# Relative Path #}
    {%- set path = src | trim_start_matches(pat="./") | split(pat="/") | slice(end=-1) | join(sep="/") | trim_start_matches(pat="/") %}
    {%- set path = path ~ "/" %}

  {%- elif src is starting_with("/") %}{# Root Path #}
    {%- set rootpath = src | split(pat="/") | slice(end=-1) | join(sep="/") %}
    {%- set path = config.base_url ~ rootpath ~ "/"  %}

  {%- else %}{# Same Directory Path #}
    {%- set path = "" %}

  {%- endif %}

  {%- set type = src | split(pat=".") | last -%}
  {%- if type is matching("^mov$") %}{% set type = "quicktime" %}{% endif -%}
  <source src="{{ path | safe }}{{ file | safe }}" type="{{ 'audio/' ~ type }}" />
  {% endfor -%}
  Your browser doesn't support the audio tag and/or the audio formats in use here – sorry!
</audio>
{%- if caption %}<figcaption>{{caption}}</figcaption></figure>{% endif -%}
