{%- set_global path = "" %}
{%- set_global pathtype = "" %}
{%- set_global bg = "" %}
{%- set_global bgname = "" %}

{%- for source in sources %}

  {%- if source is starting_with("./") %} {# Relative Path #}
    {%- set_global pathtype = "rel" %}
    {%- set relative_path = page.relative_path | split(pat="/") | slice(end=-1) | join(sep="/") %}
    {%- set p = source | trim_start_matches(pat="./") | split(pat="/") | slice(end=-1) | join(sep="/") %}
    {%- set_global path = "/" ~ relative_path ~ "/" ~ p ~ "/"  %}

  {%- elif source is starting_with("/") %} {# Root Path #}
    {%- set_global pathtype = "root" %}
    {%- set rootpath = source | split(pat="/") | slice(end=-1) | join(sep="/") %}
    {%- set_global path = rootpath ~ "/"  %}

  {%- else %} {# Same Directory Path #}
    {%- set_global pathtype = "same" %}
    {%- set_global path = "" %}
  {%- endif %}

  {%- set sourcepath = source | split(pat="/") | last %}
  {%- set sourcename = sourcepath | split(pat=".") | first %}
  {%- set sourcename = sourcename ~ pathtype %}
  {%- if loop.first %}
    {%- set_global bg = source | split(pat="/") | last %}
    {%- set_global bgname = source | split(pat=".") | first %}
  {%- else %}

    <div id="{{ sourcename }}"><b>{{ sourcename }} on hover</b></div>
    <div id="{{ sourcename }}image" alt="{{ sourcename }}"> </div>

  {%- endif %}
{%- endfor %}

{%- if w and h and p %}
  {%- set padding = h / w * p %}
{%- elif w and h %}
  {%- set padding = h / w * 50 %}
{%- else %}
  {%- set padding = 50 %}
{%- endif %}

<style>
  {%- for source in sources %}

    {%- set sourcepath = source | split(pat="/") | last %}
    {%- set sourcename = sourcepath | split(pat=".") | first %}
    {%- set sourcename = sourcename ~ pathtype %}
    {%- if not loop.first %}
      #{{ sourcename | safe }}image {
        background-image: url('{{ path | safe }}{{ bg | safe }}');
        background-size: contain;
        background-repeat: no-repeat;
        width: {{ p | default(value=50) }}%;
        height: 0;
        padding-top: {{ padding }}%;
      }
      #{{ sourcename | safe }}image:hover {
        background-image: url('{{ path | safe }}{{ sourcepath | safe }}');
      }
    {%- endif %}
  {%- endfor %}
</style>
