{%- set_global bg = " " %}
{%- set_global bgname = " " %}
{%- for source in sources %}
  {%- set sourcename = source | split(pat=".") | first %}
  {%- if loop.first %}
    {%- set_global bg = source %}
    {%- set_global bgname = source | split(pat=".") | first %}
  {%- else %}

    <div id="{{ sourcename }}">## {{ sourcename }} </div>
    <div id="{{ sourcename }}image" alt="{{ sourcename }}"> </div>

  {%- endif %}
{%- endfor %}

{%- if w and h and p %}
  {%- set padding = h / w * p %}
{%- elif w and h %}
  {%- set padding = h / w * 50 %}
{%- else %}
  {%- set padding = 50 %}
{%- endif %}

<style>
  {%- for source in sources %}
    {%- set sourcename = source | split(pat=".") | first %}
    {%- if not loop.first %}
      #{{ sourcename | safe }}image {
        background-image: url('{{ get_url(path="/", trailing_slash=false) }}{{ page.path | safe }}{{ bg | safe }}');
        background-size: contain;
        background-repeat: no-repeat;
        width: {{ p | default(value=50) }}%;
        height: 0;
        padding-top: {{ padding }}%;
      }
      #{{ sourcename | safe }}image:hover {
        background-image: url('{{ get_url(path="/", trailing_slash=false) }}{{ page.path | safe }}{{ source | safe }}');
      }
    {%- endif %}
  {%- endfor %}
</style>
