{#  note shortcode with icon and border

    type: ok / info / warning / error / neutral / other
    display: block / icon / both
    size: small / medium / large
    markdown: true / false

    example:

    {% note(type="ok", display="block", size="small" markdown=true) %}
    *Sample* "ok" note. With display "block"
    And **markdown** content.
    {% end %}
#}

{# define defaults #}
{% if not type %}{% set type="neutral" %}{% endif %}
{% if not display %}{% set display="block" %}{% endif %}
{% if not size %}{% set size="small" %}{% endif %}
{% if not markdown %}{% set markdown=true %}{% endif %}

<div class="note
{%- if display == 'icon' %} note-icon note-icon-{{size}} note-icon-{{type}}
{%- elif display == 'block' %} note-block note-{{type}}
{%- elif display == 'both' %} note-icon note-icon-{{size}} note-icon-{{type}} note-block note-{{type}}
{%- endif %}">
{% if markdown %}{{ body | markdown | safe }}
{% else %}{{ body | safe }}
{% endif %}
</div>
