:root {
  // Regular Fonts used by default:
  --ff: Montserrat, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif;
  // Monospace Fonts used for code:
  --fm: "Fira Code", Menlo, Consolas, "Roboto Mono", "Ubuntu Monospace", "Noto Mono", "Oxygen Mono", "Liberation Mono", monospace;

  // Colors
  --f1: #555; //font color 1
  --f2: #333; //font color 2

  --c1: #fff; //color 1
  --c2: #eee; //color 2
  --c3: #ddd; //color 3
  --c4: #777; //color 4

  --a1: #c40; //accent color 1 link
  --a2: #e60; //accent color 2 hover,focus
  --a3: #e60; //accent color 3 h1-h2 hover,focus

  --cg: #483; //ins green
  --cr: #d33; //del red
}
@media (prefers-color-scheme: dark) {
  :root {
    --f1: #ccc; //font color 1
    --f2: #ddd; //font color 2

    --c1: #111; //color 1
    --c2: #222; //color 2
    --c3: #333; //color 3
    --c4: #888; //color 4

    --a1: #f90; //accent color 1 link
    --a2: #fb0; //accent color 2 hover,focus
    --a3: #fb0; //accent color 3 h1-h2 hover,focus
    }
}
