:root {
  // Regular Fonts used by default:
  --ff: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Noto Sans", Helvetica, Arial, sans-serif;
  // Arimo, Bitter, DroidSans, Lato, Montserrat, OpenSans, OpenSansCondensed, PTSans, PTSansNarrow, Roboto, RobotoCondensed, RobotoSlab, SourceSansPro, Ubuntu, Jost

  // Monospace Fonts used for code:
  --fm: ui-monospace, Menlo, Monaco, Consolas, "SF Mono", "Cascadia Mono", "Segoe UI Mono", "DejaVu Sans Mono", "Liberation Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Ubuntu Mono", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", Courier, monospace;
  // https://qwtel.com/posts/software/the-monospaced-system-ui-css-font-stack/

  // Colors
  --f1: #111; //font color 1
  --f2: #222; //font color 2

  --c1: #fafafa; //color 1
  --c2: #dbe7f5; //color 2
  --c3: #062671; //color 3
  --c4: #03143c; //color 4

  --a1: #3b7ed0; //accent color 1 link
  --a2: #004faf; //accent color 2 hover,focus
  --a3: #004faf; //accent color 3 h1-h2 hover,focus

  --cg: #483; //ins green
  --cr: #d33; //del red
}
