:root {
    // Regular Fonts used by default:
    --ff: Montserrat, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif;
    // Monospace Fonts used for code:
    --fm: "Fira Code", Menlo, Consolas, "Roboto Mono", "Ubuntu Monospace", "Noto Mono", "Oxygen Mono", "Liberation Mono", monospace;

    // Colors
    --f1: #111; //font color 1
    --f2: #222; //font color 2

    --c1: #fafafa; //color 1
    --c2: #dbe7f5; //color 2
    --c3: #062671; //color 3
    --c4: #03143c; //color 4

    --a1: #3b7ed0; //accent color 1 link
    --a2: #004faf; //accent color 2 hover,focus
    --a3: #004faf; //accent color 3 h1-h2 hover,focus

    --cg: #483; //ins green
    --cr: #d33; //del red
}
