:root {
    // Regular Fonts used by default:
    --ff: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif;
    // Monospace Fonts used for code:
    --fm: Menlo, Consolas, "Roboto Mono", "Ubuntu Monospace", "Noto Mono", "Oxygen Mono", "Liberation Mono", monospace;

    // Colors
    --f1: #1a1a1a; //font color 1
    --f2: #1a2050; //font color 2

    --c1: #fafafa; //color 1
    --c2: #cae1f0; //color 2
    --c3: #062671; //color 3
    --c4: #03143c; //color 4

    --a1: #1b549a; //accent color 1 link
    --a2: #2a50a0; //accent color 2 hover,focus
    --a3: #3a50a0; //accent color 3 h1-h2 hover,focus

    --cg: #483; //ins green
    --cr: #d33; //del red
}
