{% extends "base.html" %}

{%- block seo %}
  {{ super() }}
  {%- set title = "404 Page not found" %}

  {%- if config.title %}
    {%- set title_addition = title_separator ~ config.title %}
  {%- else %}
    {%- set title_addition = "" %}
  {%- endif %}

  {%- set description = config.description %}

  {{- macros_head::seo(config=config, title=title, title_addition=title_addition, description=description, is_404=true) }}
{%- endblock seo %}

{%- block content %}
    <div>
      <h1>Page not found :(</h1>
      <p>The page you are looking for doesn't exist or has been moved.</p>
      <p>Try using the search, or <a href="{{ config.base_url | safe }}{%- if config.extra.uglyurls %}index.html{%- endif %}">go home</a>.</p>
    </div>
{%- endblock content %}
