{%- import 'macros/head.html' as macros_head %}
{%- import "macros/social.html" as social_macros %}
{%- import "macros/page.html" as page_macros %}
{%- import "macros/macros.html" as macros %}
<!DOCTYPE html>
<html lang="{%- if lang != config.default_language %}{{ lang }}{% else %}{{ config.extra.language_code | default(value=lang) }}{% endif %}">
<head>
  {{- macros_head::theme(config=config) }}
  {{- macros_head::stylesheets(config=config) }}
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{- macros_head::stylesheets_preload(config=config) }}
  {{- macros_head::js(config=config) }}
  <meta name="base" content="{{ config.base_url | safe }}" />
  {{- macros_head::feed(config=config) }}
  {%- block seo %}
    {%- if config.extra.title_separator %}
      {%- set title_separator = " " ~ config.extra.title_separator ~ " " -%}
    {%- else %}
      {%- set title_separator = " | " -%}
    {%- endif %}
  {%- endblock seo %}
  <meta name="HandheldFriendly" content="True" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />
  {{- macros_head::security(config=config) }}
  {{- macros_head::favicons(config=config) }}
  {{- macros_head::pwa(config=config) }}
  {%- block comments_init %}
  {%- endblock comments_init %}
  <noscript><link rel="stylesheet" href="{{ get_url(path='nojs.css', trailing_slash=false) | safe }}" /></noscript>
</head>
<body>
{%- block header %}
  <header>
    <nav>
      <div>
        {%- if config.extra.logo -%}
        <h1><a href="{{ get_url(path="/", lang=lang) }}{%- if config.extra.uglyurls %}/index.html{%- endif %}">
        {%- if config.extra.logo.file -%}
        <img src="{{ config.base_url | safe }}/{{ config.extra.logo.file | safe }}"{%- if config.extra.logo.alt %} alt="{{ config.extra.logo.alt | safe }}"{%- endif %}{%- if config.extra.logo.width %} width="{{ config.extra.logo.width | safe }}"{%- endif %}{%- if config.extra.logo.height %} height="{{ config.extra.logo.height | safe }}"{%- endif %} />
        {%- endif -%}
        {%- if config.extra.logo.text -%}{{ config.extra.logo.text | safe }}{%- endif -%}
        </a></h1>
        {%- elif config.extra.textlogo -%}
        <h1><a href="{{ get_url(path="/", lang=lang) }}{%- if config.extra.uglyurls -%}
        {%- if lang == config.default_language -%}/{%- endif -%}
        index.html{%- endif -%}">{{ config.extra.textlogo | safe }}</a></h1>
        {%- elif config.title -%}
        <h1><a href="{{ get_url(path="/", lang=lang) }}{%- if config.extra.uglyurls %}/index.html{%- endif %}">{{ config.title | safe }}</a></h1>
        {%- endif -%}
      </div>
      <div>
        {% set js_switcher=config.extra.js_switcher | default(value=true) %}
        {%- if config.extra.menu or js_switcher %}
        {%- if config.extra.menu %}
        {%- for i in config.extra.menu -%}
        <a href="{{ get_url(path=i.url, lang=lang, trailing_slash=i.slash) }}{%- if i.slash and config.extra.uglyurls %}index.html{%- endif %}"{% if i.blank %} target="_blank"{% endif %}>
        {%- if lang != config.default_language %} {{ trans(key=i.name | safe, lang=lang) }} {% else %} {{ i.name | safe }} {% endif -%}
        </a>
        {%- endfor -%}
        {%- endif -%}
        {%- if js_switcher -%}
        {%- set icon_adjust=config.extra.icon_adjust | default(value="svgs adjust") -%}
        {%- if icon_adjust -%}<i type="reset" id="mode" class="js {{ icon_adjust }}"></i>{%- else -%}<i type="reset" id="mode" class="js mode">&#9728;</i>{%- endif -%}
        {%- endif -%}
        {%- endif -%}
        {%- if config.languages | length > 0 %}
        <div class="dropdown" type="Button"> {%- if lang != config.default_language %}{{ trans(key="flag" | safe, lang=lang) }}{% else %}{{ config.extra.flag.en }}{% endif %}
          {%- if current_url %}
          <div class="dropdown-content">
          {%- for lcode,flag in config.extra.flag -%}
          {%- if lang != lcode -%}
          {%- if lcode == config.default_language -%}
          <a type="Button" href="{{ current_url | replace(from=current_path | truncate(length=4, end=""), to="/") | safe }}{%- if config.extra.uglyurls %}index.html{%- endif %}">{{ flag }}</a><br />
          {%- else -%}
          <a type="Button" href="{{ current_url | replace(from=config.base_url, to=config.base_url ~ "/" ~ lcode) | safe }}{%- if config.extra.uglyurls %}index.html{%- endif %}">{{ flag }}</a><br />
          {%- endif -%}
          {%- endif -%}
          {%- endfor -%}
          </div>
          {%- endif %}
        </div>
        {%- endif %}
      </div>
      {%- if config.build_search_index %}
      {%- set icon_search=config.extra.icon_search | default(value="svgs search") %}
      <div>
        <form autocomplete=off class="js" name="goSearch" id="searchbox">
          <div class="searchd">
            <input id="searchinput" type="text" placeholder="{%- if lang != config.default_language %}{{ trans(key="Search" | safe, lang=lang) }}{% else %}Search{% endif %}" title="Search"{% if config.extra.search_library %}{% if config.extra.search_library == "stork" %} data-stork="stork" {% endif %}{% endif %} />
            <button type="submit" title="Search" class="{%- if icon_search -%}{{ icon_search }}{%- else -%}si{%- endif -%}">{%- if not icon_search -%}&#8981;{%- endif -%}</button>
          </div>
          <div class="results"><div id="suggestions"{% if config.extra.search_library %}{% if config.extra.search_library == "stork" %} data-stork="stork-output" {% endif %}{% endif %}></div></div>
        </form>
      </div>
      {%- endif %}
    </nav>
    {%- if config.extra.sitedesc %}
    {%- if config.description %}
    <div>{{ config.description }}</div>
    {%- endif %}
    {%- endif %}
    {%- if config.extra.headhr %}
    <hr />
    {%- endif %}
  </header>
{%- endblock header %}
  <main>
  {%- block content %}
  {%- endblock content %}
  </main>
{%- block footer %}
  <footer>
    {%- if config.extra.foothr %}
    <hr />
    {%- endif %}
    <div class="c">
      {{- social_macros::social_links(config=config) }}

      {#- Copyright START #}
      {%- if config.extra.copyright | default(value=true) -%}
      {%- set current_year = now() | date(format="%Y") %}

        {%- if config.extra.copyright_override -%}
          {%- if lang != config.default_language %}
            {%- set copyright_string = trans(key="copyright_override", lang=lang) | replace(from="$CURRENT_YEAR", to=current_year) | replace(from="$SITE_TITLE", to=config.title) %}
          {% else %}
            {%- set copyright_string = config.extra.copyright_override | replace(from="$CURRENT_YEAR", to=current_year) | replace(from="$SITE_TITLE", to=config.title) %}
          {% endif -%}
        {%- else -%}
          {%- set copyright_string = "&copy; " ~ current_year ~ " " ~ config.title %}
        {%- endif %}
      <p{%- if config.extra.footer_size %} class="{{ config.extra.footer_size }}"{% endif %}> {{ copyright_string | safe }}</p>
      {%- endif -%}
      {#- Copyright END #}

      {%- if config.extra.menu_footer %}
      <nav>
        {%- for i in config.extra.menu_footer -%}
        {%- if i.url != "sitemap.xml" %}
        {%- set furl=get_url(path=i.url, lang=lang, trailing_slash=i.slash) %}
        {%- else %}
        {%- set furl=get_url(path=i.url, trailing_slash=i.slash) %}
        {%- endif %}
        <a{%- if config.extra.footer_size %} class="{{ config.extra.footer_size }}"{% endif %} href="{{ furl | safe }}{%- if i.slash and config.extra.uglyurls %}index.html{%- endif %}"{% if i.blank %} target="_blank"{% endif %}>{% if lang != config.default_language %} {{ trans(key=i.name | safe, lang=lang) }} {% else %} {{ i.name | safe }} {% endif %}</a>
        {%- endfor %}
      </nav>
      {%- endif %}
      {%- if config.extra.footer_credit | default(value=true) %}
      {%- if config.extra.footer_credit_override %}
      {{ config.extra.footer_credit_override | safe }}
      {%- else %}
      <p{%- if config.extra.footer_size %} class="{{ config.extra.footer_size }}"{% endif %}>{% if lang != config.default_language -%} {{ trans(key="Powered_by" | safe, lang=lang) }} {% else -%} Powered by {% endif %}<a href="https://www.getzola.org/" target="_blank">Zola</a> {%- if lang != config.default_language %} {{ trans(key="and" | safe, lang=lang) }} {% else %} and {% endif -%} <a href="https://github.com/jieiku/abridge/" target="_blank">Abridge</a></p>
      {%- endif %}
      {%- endif %}
    </div>
  </footer>
{%- endblock footer %}
{%- block gotop %}
{%- endblock gotop %}
</body>
</html>
