{# This Page Shows the contact page eg: example.com/contact/ #}

{% extends "base.html" %}

{%- block seo %}
  {{- super() }}
  {%- set title_addition = "" %}

  {%- if page.title and config.title %}
    {%- set title = page.title %}
    {%- set title_addition = title_separator ~ config.title %}
  {%- elif page.title %}
    {%- set title = page.title %}
  {%- else %}
    {%- set title = config.title %}
  {%- endif %}

  {%- if page.description %}
    {%- set description = page.description %}
  {%- else %}
    {%- set description = config.description %}
  {%- endif %}

  {{- macros_head::seo(config=config, title=title, title_addition=title_addition, description=description) }}
{%- endblock seo %}

{%- block content %}
  <div>
    <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
    <form name="contact" method="POST">
      <p>
        <label for="name">Name</label>
        <input type="text" placeholder="Name" id="name" required data-validation-required-message="Please enter your name." />
      </p>
      <p>
        <label for="email">Email Address</label>
        <input type="email" placeholder="name@example.com" id="email" required data-validation-required-message="Please enter your email address." />
      </p>
      <p>
        <label for="message">Message</label>
        <textarea rows="5" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>
      </p>
      <div id="success"></div>
      <p>
        <button type="submit" id="sendMessageButton">Send</button>
      </p>
    </form>
  </div>
{%- endblock content %}
