{%- extends "base.html" %}

{%- block seo %}
  {{- super() }}

  {%- if config.title %}
    {%- set title = config.title %}
  {%- else %}
    {%- set title = "" %}
  {%- endif %}

  {%- if config.extra.title_addition and title %}
    {%- set title_addition = title_separator ~ config.extra.title_addition %}
  {%- elif config.extra.title_addition %}
    {%- set title_addition = config.extra.title_addition %}
  {%- else %}
    {%- set title_addition = "" %}
  {%- endif %}

  {%- set description = config.description %}

  {{- macros_head::seo(title=title, title_addition=title_addition, description=description, is_home=true) }}
{%- endblock seo %}

{%- block content %}
    <div>
    {%- for page in paginator.pages %}
      <article>
        <h1><a href="{{ page.permalink | safe }}{%- if config.extra.uglyurls %}index.html{%- endif %}">{{ page.title }}</a></h1>
        <p class="sum">
        {%- if page.summary %}
          {{ page.summary | markdown(inline=true) | safe }}
        {%- elif page.description %}
          {{ page.description | safe }}
        {%- elif page.content %}
          {{ page.content | safe | striptags | truncate(length=150) }}
        {%- elif page.extra.static_thumbnail %}
        {%- endif %}
          <a href="{{ page.permalink | safe }}{%- if config.extra.uglyurls %}index.html{%- endif %}">...more</a>
        </p>
        <span class="info">
          {%- if page.taxonomies.authors and config.taxonomies %}
          <span class="rpad">{%- for author in page.taxonomies.authors %}
          {%- if author_flag %} and {% endif %}
          <a href="{{ get_taxonomy_url(kind='authors', name=author) | safe }}{%- if config.extra.uglyurls %}index.html{%- endif %}">{{ author }}</a>
          {%- set_global author_flag = true %}
          {%- endfor %}</span>
          {%- elif config.extra.author and config.extra.author_show %}<span class="rpad">{{ config.extra.author }}</span>
          {%- endif %} <span class="rpad">{{ page.date | date(format="%Y %B %d") }}</span>{%- if config.extra.readtime %}<span class="rpad"> {{ page.reading_time }} {{ config.extra.readtime_string | default(value="min") }} </span>{% endif %}
{%- if page.taxonomies.categories %}<span class="rpad"> [{% for cat in page.taxonomies.categories %}<a href="{{ get_taxonomy_url(kind='categories', name=cat) | safe }}{%- if config.extra.uglyurls %}index.html{%- endif %}">{{ cat }}</a>{% endfor %}]</span>{% endif %}
{%- if page.taxonomies.tags %} {%- for tag in page.taxonomies.tags %} #<a href="{{ get_taxonomy_url(kind='tags', name=tag) | safe }}{%- if config.extra.uglyurls %}index.html{%- endif %}">{{ tag }}</a> {% endfor -%}{%- endif %}</span>
      </article>
    {%- endfor %}
    {{- macros::pagination(paginator=paginator) }}
    </div>
  {%- set section_item = get_section(path="_index.md") %}
  {%- if config.extra.recent | default(value=true) %}
    <div class="toc">
      <div class="toc-sticky">
        <h3>Recent Posts</h3>
        {%- for page in section_item.pages | slice(end=config.extra.recent_items) %}
          {{- page_macros::page_listing(page=page) }}
        {%- endfor %}
      </div>
    </div>
  {%- endif %}
{%- endblock content %}
