{%- component showdata(page, config, src, type="", key="") -%}
{%- if src and key and type -%}
{%- if src is matching(pat="^http[s]?://") -%}{%- set data = load_data(url=src, format=type) -%}{%- else -%}{%- set data = load_data(path=src, format=type) -%}{%- endif -%}
{{- data[key] }}
{%- else -%}
{%- if src is matching(pat="^http[s]?://") -%}{%- set data = load_data(url=src) -%}{%- else -%}{%- set data = load_data(path=src) -%}{%- endif -%}
{{- data }}
{%- endif -%}
{%- endcomponent showdata -%}
