// Form elements (button)
button,
input,
select,
textarea {
  margin: 0;
  padding: .2rem var(--s1);
  max-width: 100%;
  background: var(--c2);
  border: 0;
  border-radius: .25rem;
  font: inherit;
  line-height: var(--fs);
  color: var(--f1);
}
button,
[type="button" i],
[type="submit" i],
[type="reset" i] {
  -webkit-appearance: button;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  background: var(--c2);
  color: var(--f1);
  border: 0;
  cursor: pointer;
  transition: opacity .25s;
}
button:hover,
[type="button" i]:hover,
[type="submit" i]:hover,
[type="reset" i]:hover {
  opacity: .75;
}
button[disabled],
[type="button" i][disabled],
[type="submit" i][disabled],
[type="reset" i][disabled] {
  opacity: .5;
}
