// Embedded content
.yvi {//youtube and vimeo iframe
  position: absolute;
  top: 0;
  left: 0
}
.yv {//youtube and vimeo div
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden
}
img,
video,
svg {
  max-width: 100%;
  height: auto;
}
embed,
iframe,
object {
  max-width: 100%;
}
iframe {
  border-style: none;
  width: 100%;
  height: 100%;
  border: 0;
  overflow: hidden;
}
