// Form elements (non-button)
fieldset {
  padding: .5rem .75rem;
  border: var(--bw) solid var(--c3);
  border-radius: .25rem;
}
legend {
  padding: 0 .25rem;
}
label {
  cursor: pointer;
  display: block;
  margin-bottom: .25rem;
}
select,
input:not([size]):not([type="button" i]):not([type="submit" i]):not([type="reset" i]):not([type="checkbox" i]):not([type="radio" i]) {
  width: 100%;
}
[type="color" i] {
  min-height: 2.125rem;
}
select:not([multiple]):not([size]) {
  padding-right: 1.5rem;
  background-repeat: no-repeat;
  background-position: right .5rem center;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
textarea {
  width: 100%;
  resize: vertical;
}
textarea:not([rows]) {
  height: 8rem;
}
