/**
 * Horizontal Nav
 * https://github.com/raj457036/attriCSS
 */
.cnav {
  color: var(--a3);
}
main nav {
  margin-top: var(--s2);
}
main nav a,
main nav a:visited {
  font-weight: var(--fh);
  border: .1rem solid var(--f2);
  border-radius: var(--br);
  padding: .3rem var(--s1);
  margin: var(--s1);
}
main nav a:hover {
  border-color: var(--a3);
}
nav > div:first-of-type {
  margin-left: auto
}
nav > div {
  ul {
    line-height: 0;
    margin-top: 0;
    padding-bottom: var(--s1);
  }
  display: block;
  margin-left: var(--s1);
}
nav {
  align-items: center;
  display: flex;
  div h2 {
    font-size: 1rem;
    &:hover {
      color: var(--a3);
    }
  }
  header {
    display: inline;
  }
  header h1, div ul {
    margin-bottom: 0
  }
  ul li {
    display: inline-block;
    margin: 0 0.2rem;
    position: relative;
    text-align: left;
  }
}
@if map-get($breakpoints, "md") {
  @media (max-width: map-get($breakpoints, "md")) {
    header nav {
      display: flex;
      flex-direction: column;
      header {
        text-align: center
      }
      div {
        margin: auto
      }
    }
  }
}
