/**
 * Horizontal Nav
 * https://github.com/raj457036/attriCSS
 */

main nav a,
main nav a:visited {//pagination link styling
  font-weight: var(--fh);
  border: .1rem solid var(--c4);
  border-radius: var(--br);
  padding: .1rem var(--s1);
}
main nav a:hover {//makes border of pagination links hover color
  border-color: var(--a3);
  .svgh {
    background: var(--a3);
    opacity: 1;
  }
}
header > nav > div:first-of-type {//Keep the logo from wrapping
  display: inline;
  min-width: fit-content;
  padding-right: var(--s1);//add some spacing between nav divs
}
header > nav > div:nth-child(2) {//puts logo on left and menu/search on right
  margin-left: auto;
  padding-right: var(--s1);//add some spacing between nav divs
}
nav > div {
  ul, h2 {
    line-height: 1.9;
    margin: 0;
    padding: 0;
  }
  margin: var(--s1) 0;
}
nav {
  align-items: center;
  justify-content: center;//center pagination horizontally
  display: flex;
  div h2 {
    font-size: 1rem;
    &:hover {
      color: var(--a3);
    }
  }
  h1 {
    margin-bottom: 0;
    margin-top: 0.2rem;
  }
  li {
    display: inline-block;
    margin: 0 .3rem;
  }
}
main nav {
  ul {
    display: flex;
    padding-left: 0;
  }
  margin-top: var(--s2);//pagination margin
  li {
    margin: .2rem;
  }
  li.inp {
    padding-top: .1rem;
  }
}
.outp {
  padding: 0 .26rem .2rem;
}
.off {
  color: var(--c4);
  font-weight: var(--fh);
  border: .1rem solid var(--c3);
  border-radius: var(--br);
  .svgh {
    background: var(--c3);
    opacity: 1;
  }
}
.on {
  font-weight: var(--fh);
  border: .1rem solid var(--c4);
  border-radius: var(--br);
}
.mode:hover, .cnav {
  color: var(--a1);//pagination color current page
}
footer nav {
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0 .2rem .4rem;
  }
}
// breakpoint makes header responsive for mobile layouts
@if map-get($breakpoints, "md") {
  @media (max-width: map-get($breakpoints, "md")) {
    header nav {
      display: flex;
      flex-direction: column;
      h1 {
        margin: var(--s2) 0 var(--s1);
      }
      div {
        margin: auto // keeps top menu/search centered in mobile view
      }
    }
  }
}
