div:empty {
  display: none;
}
#suggestions {
  z-index: 9;
  background: var(--c1);
  border: 2px solid var(--c3);
  position: absolute;
  right: 0;
  margin-top: var(--s1);
  width: 500px;
  max-height: 500px;
  overflow: auto;
}
#suggestions a, #results a {
  display: block;
  text-decoration: none;
  padding: var(--s1);
  margin: 0 var(--s1);
}
#suggestions a:hover,
#suggestions a:focus,
#results a:hover,
#results a:focus {
  background: var(--c2);
}
#suggestions span, #results span {
  line-height: 1.5;
  display: block;
}
#suggestions span:first-child, #results span:first-child {
  font-weight: var(--fh);
}
#suggestions span:nth-child(2), #results span:nth-child(2) {
  color: var(--f1);
}
nav > div > form > div:last-of-type {//parent div of suggestions div
  display: block;
  position: relative;
  width: 100%;
}
.searchd {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.searchd > input {
  max-width: 15rem;
  padding-right:2.4rem;//inlayed search icon
}
.searchd > button {
  margin-left: -2.4rem;//inlayed search icon
}
@if map-get($breakpoints, "md") {
  @media (max-width: map-get($breakpoints, "md")) {
    .searchd > input {
      max-width: 100%;
      flex-grow: 1;
    }
    #suggestions {
      position: static;
      left: 0;
      width: 100%;
    }
  }
}
