// Table
table {
  border-collapse: collapse;
  width: 100%;
  text-indent: 0; /* Remove text indentation from table contents in Chrome, Edge, and Safari. */
}
table caption {
  margin-bottom: .5rem;
}
tr {
  border-bottom: var(--bw) solid var(--c3);
}
td,
th {
  padding: var(--s1);
}
th {
  text-align: left;
}

// Striped
table {
  tbody tr:nth-child(even) {
    background-color: var(--c2);
  }
  thead tr {
    border-top: var(--bw) solid var(--c3);
    background-color: var(--c2);
  }
}
