.sum, .sum p {margin: .2rem 0}
.s95 {font-size: .95em}
.s90 {font-size: .90em}
.s85 {font-size: .85em}
.s80 {font-size: .80em}
.s75 {font-size: .75em}
.s70 {font-size: .70em}
.hpad {padding: 0 .2rem}
.rpad {padding-right: .2rem}
.si {
  font-size: 1.5em
}
pre code[data-lang]::before {
  color: var(--f1);
  text-transform: uppercase;
  content: ' [' attr(data-lang) '] ' "

";
}
// code copy wrapper
.ccw {
  position: relative;
}
.ccw:hover {
  .cc {
    opacity: 1;
  }
}
// code copy button
.cc {
  opacity: 0;
  z-index: 9;
  position: absolute;
  right: 9px;
  top: 9px;
  font-size: .8rem;
}
// Mark Override, this is used for Zola's linenos and hl_lines
:root:not(.light) code table {
  mark {
    filter: brightness(120%);
  }
}
// Table Override, this is used for Zola's linenos and hl_lines
code {
  table {
    font-size: .8rem;
    margin: 0;
    // Highlighted text
    mark {
      display: block;
      background-color: var(--c2);
      color: unset;
      padding: 0;
    }
  }
  td, th, tr {
    padding: 0;
    border-bottom: none;
  }
  tbody td:first-child {
    text-align: center;
    user-select: none;
    min-width: 60px;
  }
  tbody tr:nth-child(even), thead tr {
    background-color: unset;
  }
}