.sum {margin: .2rem 0}
.s95 {font-size: .95em}
.s90 {font-size: .90em}
.s85 {font-size: .85em}
.s80 {font-size: .80em}
.s75 {font-size: .75em}
.s70 {font-size: .70em}
.hpad {padding: 0 .2rem}
.rpad {padding-right: .2rem}
pre code[data-lang]::before {
    content: ' ' attr(data-lang) ': ' "
";
	color: var(--a1);
}
// code copy wrapper
.ccw {
  position: relative;
}
// code copy button
.cc {
  z-index: 9;
  position: absolute;
  right: 0px;
  font-size: .8rem;
}
